[2019-09-16 19:48] theryan722 opened #6 "Awesome project"
Just wanna say this is an awesome project. The majority of LTI libraries are for PHP, outdated, and haven't been touched in quite a while, so seeing a new one for Node is quite uplifting.

Any ideas about loosening the requirements for Mongo? My backend is on Firebase cloud functions (so uses Firestore as the database) haha.

Either way amazing job!

[2019-09-17 00:48] Cvmcosta commented on #6
Hello, im really happy you enjoyed the project!

 Right now i'm using a plugin system to allow the usage of other dabatases. The plugin just has to follow the same pattern as the other two (Mongo and Postgresql).

So i will look into it and probably start implementing very soon, because i want this to be a very versatile tool.

Thanks for the feedback

[2019-09-23 22:05] gentlemanjohn opened #7 "MySQL plugin"
Any plans to add support for MySQL?

[2019-09-24 01:58] Cvmcosta commented on #7
Yes, i am currently looking for someone to implement it while i'm working on adding Firebase support. If i cant find someone, i'll implement myself as soon as i'm done with the Firebase plugin. So probably sometime in october.

[2019-09-24 02:04] Cvmcosta commented on #7
Actually i just realized that MySql also works with Sequelize, so maybe i can just adapt the PostgreSql plugin and get it done with. I'll be looking into it this week.

[2019-09-27 16:35] jeansebbaklouti commented on #7
Hello,
i modified ltijs-postgress to use mariadb. For that i change:
-  Sequelize.ARRAY(Sequelize.STRING) =>  Sequelize.STRING // ARRAY it is only for postgress
-  Sequelize.JSONB => Sequelize.JSON => //JSONB only for postgress, it is just json store in binary , warning not all versions of mysql and mariadb support JSON

For the moment, i comment the raw query "CREATE OR REPLACE RULE" because it o

[2019-09-27 16:41] Cvmcosta commented on #7
@jeansebbaklouti That helps a lot, actually. thanks for the awesome work. Did u make a pull request, so i can merge with the main repo?

[2019-09-27 19:38] lucastercas commented on #6
@theryan722 You can try [ltijs-firestore](https://github.com/lucastercas/ltijs-firestore), but it still in development, I still have to test it in a live env.

[2019-09-27 23:49] theryan722 commented on #6
@lucastercas That's amazing, I'll definitely try out your project, looking forward to seeing it progress 💯

[2019-09-27 23:49] #6 closed

[2019-10-14 16:47] gentlemanjohn opened #8 "Grade ScorePublish code 400 bad request with Canvas"
I'm having issues posting a grade in Canvas.  I'm trying to run the following inside lti.onConnect() callback:
[code]
The following is the debug output:
[code]
error log:
[code]
I can see I don't have an access token in my database and lti.js is trying to get one from the platform.  When I look at the console output of confjwt in Auth.js, it seems like I'm getting the appropriate client ID and end

[2019-10-15 03:00] Cvmcosta commented on #8
Hello, thanks for posting this issue. I've actually had a hard time getting lti 1.3 to work with canvas, last time i tried their implementation didn't seem complete. I'll take some time tomorrow morning to look into this issue and see if i can fix it or at least find out whats going wrong.

[2019-10-31 00:00] Cvmcosta commented on #8
Hello @gentlemanjohn , sorry it took me this long to follow up on this, i've been very busy.
In the pas couple of days i've been trying to get ltijs to work with canvas, with no success.
I think i might be doing something wrong, either that or the lti functionalities within canvas don't work properly on self hosted instances (Judging from a few weird behaviors i noticed while working on it).
I req

[2019-10-31 22:29] gentlemanjohn commented on #8
@Cvmcosta no problem, I've been pulled away from this the last few weeks as well.

Yes, our instance is hosted by Instructure.  Here is my LTI provider config:
[code]

Platform:
[code]

[2019-11-01 13:08] Cvmcosta commented on #8
@gentlemanjohn Hello, can you tell me what public key you are using in the canvas External tool registration? If i understand correctly, Canvas accepts either a JWK Set endpoint (which LTIJS does not support yet), or a JWK key. Did you convert the RSA public key generated to JWK?
I'm going on a process of elimination here. If the problem is not the JWT sent, i'll check the lti protocol to see if t

[2019-11-01 21:30] gentlemanjohn commented on #8
Hey @Cvmcosta I had to set up my Canvas Developer Key again (our test instance of Canvas is reset every few weeks) and now I'm having a hard time reproducing the error. I'm getting directed to invalidToken when I try to connect. I thought I had set everything up in Canvas and LTIjs the same way, but obviously I'm doing something else wrong now.

To your question:

I'm not sure what you mean by `co

[2019-11-02 04:07] Cvmcosta commented on #8
Hi @gentlemanjohn , i think i know what is going on. This jwk key canvas requires is used to get the access token, LTIJS uses the corresponding private key to sign the request for the access token and them Canvas (any lms) uses the public key to verify that request and return the token. So now you have two options (assuming you are able to return to the state of the initial error), you can either

[2019-12-02 13:46] haraldschilly opened #10 "howto debug "Token invalid or expired. Please reinitiate login.""
I'm trying to build a "tool" for moodle. I am not able to get ltijs working, because I always get the message

from within moodle. I can configure and setup the tool itself (I get an access token public/private keys, etc.) but that's all.

So, I'm wondering, what can I do in order to figure out what's going on?

[2019-12-02 14:07] Cvmcosta commented on #10
Hello, thanks for posting this issue.

When the the server doesn't find a cookie in the browser and tries to get the token from the request to see if it is a login request, if none of those things work, it throws this error.

So there are a couple of options here, the first one is that the cookie generated at the end of the login flow is not being set in the browser (Due to differences in domain b

[2019-12-02 15:34] haraldschilly commented on #10
Hello,thank you for the quick reply. Well, I am in control of both ends, and I'm rather at the beginning of trying to understand this. Here is what's going on when I'm on the provider page and loading the tool:

1. yes, I do get a cookie as a response of a `POST` request to my tools `/lti/login`. `plataHR0cHM6Ly9tb2...` The tool has an appUrl, which does also show up in the cookie. It ends with `.

[2019-12-02 15:58] haraldschilly commented on #10
I also checked, it's 2.2.0 running. Enabling this logging gave me a few more hints, in particular `/main` is not ok. The tool is that base appUrl. However, continuing from above

4. After that `id_token` in step 3, there is now a `POST` to the tool's `/lti/?ltik=eyJhbGc...` which errs with a 504. That's what's in the debug output:

[code]
that's from the lti.onConnect:
[code]

and the next line is

[2019-12-02 16:00] haraldschilly commented on #10
hmm, maybe there is something fundamentally wrong with the whole express setup.

[2019-12-02 17:09] Cvmcosta commented on #10
What is the appUrl in your main route?
 I am not home right now, as soon as I get home I'll check on this error message from the redirect function.
Can you show me how you are setting up your code, routes, etc ? Hiding all sensitive information, of course.

[2019-12-03 09:32] haraldschilly commented on #10
Here are the essentials of the setup. moodle is at the domain moodle.foo.com and the tool just at foo.com.

[code]
then I'm deleting any existing platforms... and

[code]
then
[code]
---

on the provider's side (moodle), its this

* tool url: `https://foo.com/14eed217-2d3c-4975-a381-b69edcb40e0e/port/56755/lti`
* lti 1.3
* initiate login: `https://foo.com/14eed217-2d3c-4975-a381-b69edcb40e0e/port/

[2019-12-03 14:24] Cvmcosta commented on #10
Usually chrome sets the cookie even when the  secure flag is not passed, but its worth a shot.
 You can pass the secure flag in the lti.onConnect options like this:

[code]

But i think i see what's wrong now. The lti.onConnect's callback method requires 3 arguments, because this function is called from within the middleware and receives (connection, request, response), connection being the idtoke

[2019-12-04 15:04] haraldschilly commented on #10
wow, thank you, this is an embarrassing mixup.

the background about what I mean by that cookie setting is [this chromium same-site page](https://www.chromium.org/updates/same-site). there is a timeline for upcoming changes, and you can tweak chrome already to behave in the future way.

[2019-12-04 15:04] #10 closed

[2019-12-04 16:50] Cvmcosta commented on #10
Happy to help :) !

I am aware of the new Chrome policy, the only reason the secure flag isn't passed by default is that Express is not usually setup with https on development environments.

[2019-12-11 15:08] haraldschilly commented on #8
I've also no luck with Grade.ScorePublish and Moodle. All I get, at best, is `Response code 401 (Unauthorized) `

I'm also interested in that "Names and Role Provisioning Services" and for that I have to add a scope in the Auth.js file in `getAccessToken`? at least, I think that's necessary. In any case, I get the same error. That access token has an additional scope, though:

[code]

[2019-12-11 16:35] Cvmcosta commented on #8
@haraldschilly Did you configure moodle with the public key generated by ltijs for that specific platform?

[2019-12-12 09:55] haraldschilly commented on #8
@Cvmcosta yes, I copied over the public key I got via `plat.platformPublicKey()` where `plat` is `lti.getPlatform(iss string)`. I'll try to just register again, maybe something is out of sync.

[2019-12-12 11:46] Cvmcosta commented on #8
@haraldschilly Okay, please let me know how it goes. I'm working on a step by step tutorial for setting up and sending grades.

[2019-12-13 18:09] haraldschilly commented on #8
@Cvmcosta well, I did reset and reconfigure everything, but I still get the same error. Please let me know if you have a guide ready, I would really appreciate it :-)

[2019-12-16 00:50] Cvmcosta commented on #8
@haraldschilly I wrote a tutorial on medium, [here](https://medium.com/@cvmcosta2/creating-a-lti-provider-with-ltijs-8b569d94825c).

I think the issue might be the request to the route you are using to send the grade. It needs to receive the ltik token through the query parameters. So if you are calling '/sendgrade' from the client, you should call '/sendgrade?ltik=LTIKKEY'.

This key is passed to

[2019-12-20 11:38] MahmoudAbdo90 commented on #10
Hi @Cvmcosta @haraldschilly,
I know this issue not related but could be something similar

I have an issue that I can not get into (lti.onConnect) at all.
I am using Canvas self hosted version and here is my code

`const lti = new Provider(
	'Secret',
	{ plugin: db }, // current db
	{
		appUrl: 'http://lvh.me:3000/lti',
		invalidTokenUrl: 'http://lvh.me:3000/invalid-token',
		logger: true,
		login

[2019-12-20 11:55] MahmoudAbdo90 commented on #8
Hi @Cvmcosta @haraldschilly @gentlemanjohn ,
I know this issue is not related but could be something similar

I have an issue that I can not get into (lti.onConnect) at all.
I am using Canvas self hosted version and here is my code

`import { Provider } from 'ltijs'`

`const lti = new Provider(
	'Secret',
	{ plugin: db }, // current db
	{
		appUrl: 'http://lvh.me:3000/lti',
		invalidTokenUrl: 'htt

[2019-12-28 16:57] Cvmcosta commented on #8
@MahmoudAbdo90  Okay, i got it working with self hosted canvas. Launching and Grade generation are both working perfectly, later today i will comment here again detailing my setup and adapting yours to hopefully make it work.

I can say right now that your issues probably also come from how you are setting up your routes

ex:  `appUrl: 'http://lvh.me:3000/lti'`

it would be somthing like this: `ap

[2019-12-28 22:21] Cvmcosta commented on #8
@MahmoudAbdo90  Small update. I went ahead and created a keyset endpoint to facilitate registration within canvas, now you dont have to convert the RSA keys anymore. I'll upload the new version and update the documentation early tomorrow (29/12), as well as give write the tutorial i talked about earlier today, and maybe some docker example images.

[2019-12-30 03:53] Cvmcosta commented on #8
@MahmoudAbdo90 Okay so here is the code i think should work:

[code]
The canvas configuration should look like this:

Redirect URIs: http://lvh.me:3000/lti
Target Link Uri: http://lvh.me:3000/lti
OpenID Connect Initiation Url: http://lvh.me:3000/login

This should get the tool to at least launch.

[2019-12-30 13:30] MahmoudAbdo90 commented on #8
@Cvmcosta Yes man, that will be great if you have an endpoint to provide the keys. Thanks man and great work

[2019-12-30 19:07] haraldschilly commented on #8
Hi, I looked into your nice tutorial, really helpful! ... but after trying some changes in my code I'm still struggling with it just like before. Then, I copied exactly the example code of yours, did a few minor modifications, and it still fails. Essentially, the changes were:

1. when defining the provider, in particular the `/start` in the appUrl, where `appURL` itself is a prefix like `/abcd/po

[2019-12-30 19:55] MahmoudAbdo90 commented on #8
@haraldschilly I am also facing the same thing, with Canvas and Moodle not sure what could be the reason though !

[2019-12-30 22:24] Cvmcosta commented on #8
@haraldschilly So you're able to launch the application, you just can't send a grade right? Can you run your code in debug mode like so `DEBUG='provider:*' npm start` and show me what appears?

[2019-12-30 22:25] Cvmcosta commented on #8
@MahmoudAbdo90 With the updated code, are you able to launch to canvas?

[2019-12-31 12:01] haraldschilly commented on #8
@Cvmcosta yes, I can launch it, it works as I would expect. I even tried to open it in a new window to avoid any troubles with an iframe. Here is the debug output:

[code]

I copied the public key and here is a screenshot of these extra settings in moodle

![Screenshot from 2019-12-31 13-00-20](https://user-images.githubusercontent.com/207405/71621082-ac772180-2bcd-11ea-945e-3f00fa7b142a.png)

[2019-12-31 16:15] Cvmcosta commented on #8
@haraldschilly I think I have an idea of what might be happening. What is the database plugin you are using? I think the database plugin is not rotating the access token, so you are getting an old one. I see the logs mention retrieving an access token, instead of generating a new one. I can fix this bug directly on the plugin.

[2019-12-31 18:51] haraldschilly commented on #8
@Cvmcosta ah, interesting. well, I'm using your example code, from the blogpost, with a few modifications. Here is the setup:

[code]

[2019-12-31 18:57] haraldschilly commented on #8
In case it matters, it's the default mongodb from ubuntu 18.04, i.e. `3.6.3` (which is almost 2 years old)...

[2019-12-31 19:06] Cvmcosta commented on #8
@haraldschilly I see, you are using the default database plugin. So maybe there was an issue with that.
Can you reset (or change) the database to see if the error persists (ex: changing `mongodb://localhost/ltijs` to `mongodb://localhost/ltijs2` )? That would require also replacing the public key within moodle, since a new one would be generated when re-registering the platform.

But if you have d

[2020-01-01 17:18] haraldschilly commented on #8
Hmm, I think I  understand your idea, but no luck. I'm fine with working with `mongo` on the command line. First, I ran `use ltijs` and then `db.dropDatabase()`.

Then I started it again and copied the public key as a moodle admin, then I switched to the course as a teacher and added the tool again (different name) and finally switched to be a student of that course.

Upon clicking the "submit gra

[2020-01-02 10:09] MahmoudAbdo90 commented on #8
@Cvmcosta
When you used canvas did you pass this way
[code]
or you used localhost ?

I am running my canvas self hosted on localhost:4000.

[2020-01-02 14:14] Cvmcosta commented on #8
@MahmoudAbdo90 I passed it like this:
[code]

The initial launch request canvas makes comes with the `https://canvas.instructure.com` issuer, but all the subsequent requests should be made to your localhost:4000 instance. So the above code should work.

[2020-01-02 14:16] Cvmcosta commented on #8
@MahmoudAbdo90  And you should know that in order to register a grade with an lti tool on canvas, the tool should be added inside of an assignment, instead of standalone. This tutorial teaches you how to do this: [Assignment using LTI app](https://community.canvaslms.com/docs/DOC-10384-4152501360)

[2020-01-02 14:41] MahmoudAbdo90 commented on #8
@Cvmcosta
It is so weird, it's working fine with self hosted Moodle but not with canvas,
I am getting this error
`while(1);{"errors":[{"message":"An error occurred.","error_code":"internal_server_error"}],"error_report_id":965}`

I get the redirect url in the browser but it doesn't redirect to my website.

[2020-01-02 22:09] nathaniel-holder opened #11 "Serverless support (AWS)?"
I would love to use this library in an AWS lambda function. That seems like it would require the ability to swap out dependence on an Express server and instead allow the function to be called with HTTP routes that come in through AWS API Gateway.  Has anyone considered using ltijs in this way?  I'm imagining a server plugin architecture in the same way that you have implemented database plugin su

[2020-01-03 12:07] Cvmcosta commented on #11
@nathaniel-holder Hello, i'm really glad you are enjoying the project.
I'm not too familiar with AWS and the whole serverless idea, but i'd love to learn about it and make it possible with LTIJS.

After a quick google search i found [this](https://www.freecodecamp.org/news/express-js-and-aws-lambda-a-serverless-love-story-7c77ba0eaa35/) article and decided to give it a try soon. Could you take a l

[2020-01-03 16:55] MahmoudAbdo90 commented on #8
@Cvmcosta
I reached out the reason why my launch is not going through, there is an error logs and it says:
 Unknown Key Type:
category: JSON::JWK::UnknownAlgorithm

and here is my key after I converted it and added the missing values to it, do you have any idea what could be wrong with it ?

[code]

[2020-01-03 17:53] Cvmcosta commented on #8
@MahmoudAbdo90  I'll look into this more thoroughly this weekend, since i think i already encountered this bug and it had to do with the canvas installation, have you considered installing the stable version of Canvas through Docker (if that is not already the case), this was the version where everything worked for me.

Also i just released a new version of ltijs that has a keyset endpoint, to mak

[2020-01-03 17:56] Cvmcosta opened #12 "[Enhancement][Security] Add key rotation"
Now that the keyset endpoint is done. It would be good to add key rotation support to improve security.

- Add as job.
- Add as function.
- Optional functionality, enabled manually for each platform registered.

[2020-01-03 23:45] nathaniel-holder commented on #11
@Cvmcosta Yes, that article looks promising, great find!  I have a fair amount of experience with AWS serverless (Lambda & API Gateway) but not with Express, so this is slightly new territory for me.  It seems like configuring Express to work with API Gateway could be a configuration option to the LTI constructor? Or maybe you want to package it separately as an Express plugin.  AWS is only one se

[2020-01-10 12:52] MahmoudAbdo90 commented on #8
@Cvmcosta
I tried it out, but I think I have kind of certain configuration that I am missing in the developer keys.
I keep on getting this error

[code]
it redirects after passing all the parameters in the url then I get this error and they do not send the id_token in the body.

Do you have any idea what is the issue here ?

[2020-01-10 15:30] MahmoudAbdo90 commented on #8
@Cvmcosta
Hello, actually it works fine but I did not use the key set endpoint yet, I added a manual JWK,
But the thing is I do not get the user info in the response
here is part from what I got:
[code]

I wonder is it something has to do with the Canvas configuration do you have any idea ?

[2020-01-17 04:33] Cvmcosta opened #13 "Update moodle's lti plugin to support JWK keyset"
I've modified moodle's lti plugin to support JWK keyset, which makes it a lot easier to setup an external tool. I'm not familiar with moodle's contribution politics but i'm looking into it to publish this change. There's an issue about it open in the moodle's issue tracker.

The modified plugin can be found here: [Basiclti4moodle](https://github.com/Cvmcosta/basiclti4moodle)

[2020-02-02 21:04] Cvmcosta opened #14 "[Bug][Database] Using ltijs in cluster mode with pm2 causes platform registration at startup to create duplicates"
Description: Using ltijs in cluster mode with pm2 causes platform registration at startup to create duplicates.

Probable cause: The test for duplicate platforms is done at a application level, so when in cluster mode, each application instance attempts to register a platform at the same time, which causes the duplicate, since the database has not yet registered the addition.

Fix: Add the 'unique

[2020-02-02 21:08] Cvmcosta opened #15 "[Bug][Database] Some database fields have a "type" sub field that is being misinterpreted"
Description: Some database fields have a "type" sub field that is being misinterpreted. This causes the parent fields to be interpreted as being typed as the value of the "type" field, instead of a json object.

Fix: Add more descriptive fields and types.

[2020-02-13 08:46] esellin commented on #11
I am using the serverless framework to deploy my AWS lambas, and it has a plugin to wrap around an Express instance
https://github.com/dougmoscrop/serverless-http
so if you get hold of the "app" inside your LTI object, it works!

The only trouble is LTI.deploy() telling Express to listen, which we don't want, so it would be nice to have that optional, e.g. passing -1 as a port number?

I have also

[2020-02-13 08:54] esellin opened #16 "Missing "state" field in OIDC login response"
Hi there!
`Utils.Reqest.ltiAdvantageLogin()` doesn't seem to set the `state` field in the OIDC login response, which I believe is mandatory according to specs, so it can later be validated together with the `id_token` in `Utils.Auth.validateToken()`.
Am I missing something, or is this something you plan to add?
Thanks!

[2020-02-13 22:09] Cvmcosta commented on #11
Hello @esellin! That sounds good, i took a bit of a break from the project this past month and just got back to working on it, your idea is essentially waht i'm planning for this.

Also i'm very happy to hear about the database plugin, i'm working on some changes to the mongo plugin's structure, because when i first wrote it i had a limited understanding of how mongoose and other ODM's ORM's worke

[2020-02-13 22:23] Cvmcosta commented on #16
Hello @esellin!

The oficial LTI spec lists the `state` parameter as "recommended" instead of "required": [ 5.1.1.2 Step 2: Authentication Request](https://www.imsglobal.org/spec/security/v1p0/#step-2-authentication-request).
Because of this i think i might have overlooked it when first implementing that portion of the protocol. So i spent some time researching and i think it would be a good idea

[2020-02-14 03:14] Cvmcosta commented on #16
All done, the new security update is now live. I also added `iss` claim validation and updated some dependencies. This patch was tested on Moodle 3.8, and i'll probably test on Canvas tomorrow.

Thanks for pointing this out! :smiley:

[2020-02-14 03:14] #16 closed

[2020-02-14 03:19] Cvmcosta commented on #16
Just to be clear, i ended up not going for a loose implementation, mostly because i think it would kinda defeat the purpose of adding the security feature in the first place. I'll just test this change on the most popular LMS's and see if it works on all of them.

[2020-02-17 08:46] esellin commented on #16
Excellent stuff!

[2020-02-17 09:58] esellin opened #17 "OIDC login doesn't work when initiated with GET request"
I'm testing against the IMS reference platform `https://lti-ri.imsglobal.org/`

OIDC login works if initiated with a `POST` request, but not with a `GET` request, which I believe tools should also support.

The code handling the login request looks for stuff into `req.body`, but this will only work for `POST` requests. For `GET` requests, you will need to look into `req.query` instead.

I've creat

[2020-02-17 13:52] Cvmcosta commented on #17
Hello again!

You are right, i changed the  type of request it supported but forgot to get the correct parameters. I've uploaded a patch that hopefully fixes the issue. Do you mind uploading ltijs to the newest version (2.4.3) and letting me know if it's working fine now?

Thanks for helping :smiley:

[2020-02-17 15:14] esellin commented on #17
It's not working.

I forgot to mention that in your `sessionValidator`, you need to check for `req.path === this.#loginUrl` because `req.url` will contain all the `GET` parameters.

Also, it would be good to have a call to `provMainDebug()` before every `return` statement in the `sessionValidator`, so we know the exact flow it's going through.

Thanks!

[2020-02-18 07:32] esellin opened #18 "Get rid of parse-domain"
parse-domain has jest as a dependency, which brings in tons of unnecessary stuff.
This is insane, and the author doesn't seem too bothered about it.

This makes parse-domain, and therefore ltijs, almost unfit for an AWS lambda environment, where you really want to keep things as small as possible.

Can we look for an alternative, or maybe just implement a cookieDomain option?

Thanks!

[2020-02-18 12:20] esellin opened #19 "Configurable token max age"
At the moment, `Utils.Auth.validateIat()` has a hard-coded limit of 10 seconds for the token max age. It would be great for manual testing to be able to configure this max age, e.g. 1 minute.

[2020-02-18 12:45] Cvmcosta commented on #17
Okay, second time's the charm, changed req.url to req.path when matching routes and added some additional logs. Also added a unit test specifically to test login flow initiated with a GET request. Hopefully it all works fine now.

[2020-02-18 14:52] Cvmcosta commented on #18
Hello again!

I removed parse-domain and replaced it with valid-url, it is much lighter and does exactly the same thing.

Thanks!

[2020-02-18 14:55] #18 closed

[2020-02-18 14:56] Cvmcosta commented on #18
I'm closing this for now, since the main issue has been addressed.

[2020-02-18 15:19] esellin commented on #17
Yes, works fine now with 2.4.6.

Thanks for the quick fix, much appreciated!

[2020-02-20 11:20] esellin commented on #17
Bad news I'm afraid, it's not working properly, I've had to add some more debug to your code to work it out, I'll try to explain :)

If the platform sends a `GET` request to the  `/login` endpoint, it doesn't have a `Origin` header (see https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Origin), so the code ends up using the `Host` header, which will be my own tool's URL, and that will be u

[2020-02-21 02:56] Cvmcosta commented on #17
Hello again!

I've spent some time today working on this issue, and i saw it as an opportunity to make some changes to the overall login flow. I cleaned up the code and changed the order in which i validate the id_token and provide the user with an ltikey.
This change not only made the code and authentication flow itself much simpler, but also allowed me to create the authentication tokens based o

[2020-02-21 09:14] esellin commented on #17
Excellent stuff, it's working very well now, both `GET` and `POST`!
Would like to see some more debug output to confirm the names of session cookies it's generating and then looking for, but other than that, it's perfect.
Thanks again!

[2020-02-21 09:14] #17 closed

[2020-02-21 10:38] esellin commented on #17
Hello there
Looks like it's working great now, both with `GET` and `POST`. Thanks!
I would like to see a little more debug output around the names of cookies it's using, but other than that, it's perfect, well done!

[2020-03-03 21:22] HamzaBinSarfraz commented on #10
Hi, i am also facing the same error **Invalid token. Please reinitiate login** when hitting http://localhost:3000 and redirecting to http://localhost:3000/invalidToken

I am using **canvas and setup method from Usage section**
Canvas is running on http://localhost:4000

Any idea how i can resolve this error, thanks

[2020-03-03 22:17] Cvmcosta commented on #10
Hello @HamzaBinSarfraz. Are you running ltijs in the latest version? And can you please run your code in debug mode: `DEBUG=provider:* npm start` and post the output of the logs here?

[2020-03-04 07:28] HamzaBinSarfraz commented on #10
@Cvmcosta Yes i am runnin the latest version of ltijs
here is the output after running **DEBUG=provider:* npm start**

![Screenshot from 2020-03-04 12-27-01](https://user-images.githubusercontent.com/30901435/75855215-97a84b80-5e13-11ea-81f6-837fd24c2eb3.png)

[2020-03-04 17:09] Cvmcosta commented on #10
@HamzaBinSarfraz Sorry, i expressed myself poorly, can you run tour code on Debug mode again and post the entire log up until the error? It should give me a clue as to what is wrong. Also it would help to see how you configured your ltijs contructor, ex:

[code]

I see that your App url is being listed as http://localhost:4000/, and your login as ${appBaseURL}/login. I think you might want to repl

[2020-03-05 09:26] HamzaBinSarfraz commented on #10
@Cvmcosta  here is the logs of ltijs_server

[2020-03-07 16:48] #15 closed

[2020-03-07 18:58] Cvmcosta opened #20 "[FEATURE] Implement Deep Linking service"
Implement the Deep Linking service

Methods to receive content-item claim objects and return:
- A self submitting post form with the signed JWT message.
- Only the signed JWT message so that the user can submit it as he sees fit.

Support for optional claims like success and error messages.

[2020-03-07 19:00] Cvmcosta opened #21 "[ENHANCEMENT][AUTHENTICATION] Add support for Bearer Token"
The ltik token should be able to be passed by the client as a Bearer token, it's easier to work with than query parameters.

[2020-03-07 19:05] Cvmcosta opened #22 "[ENHANCEMENT][DATABASE] Organize Database code"
The database code should no longer be treated as a singleton. I should come up with a way to implement the database in a way that doesn't break current implementations but allows for easier manipulation of the database in future additions without having to pass the database object as a parameter.

[2020-03-07 19:06] Cvmcosta opened #23 "[ENHANCEMENT][DATABASE] Create Database plugin guideline"
The database plugins should all follow a guideline in order to ensure the quality of implementations.

Depends on:  #22

[2020-03-07 19:08] Cvmcosta opened #24 "[ENHANCEMENT][CLIENT] Create a client library"
Ltijs should have a tiny client library that could handle ltik storage and calls to the API.

[2020-03-07 19:10] Cvmcosta opened #25 "[ENHANCEMENT][REGISTRATION] Implement dynamic registration"
Implement the dynamic registration protocol. The protocol is currently being created by a working group with the intent of making LTI 1.3 registrations easier. Ltijs should be an early adopter.

[2020-03-07 21:53] Cvmcosta opened #26 "[ENHANCEMENT][DOCUMENTATION] Add Deep Linking to the example and tutorials"
The new deep linking functionalities need to be added to the Medium tutorial.

[2020-03-08 19:45] #14 closed

[2020-03-08 19:45] #20 closed

[2020-03-08 19:45] #21 closed

[2020-03-09 14:31] HamzaBinSarfraz commented on #10
Any update here ...

[2020-03-09 14:55] Cvmcosta commented on #10
Hello, sorry it took me this long to answer.
Some considerations about your code:

- Your appBaseUrl variable should be `/`, according to express standards.
- You are deploying the server twice, once on line 19 and onde on line 25, you should just copy line 19 over line 25 to ensure that it is listening on port 4000.
- You are attempting to register canvas using the appBaseUrl variable instead of

[2020-03-09 15:29] HamzaBinSarfraz commented on #10
@Cvmcosta  Thanks, really appreciated

but i am still getting errror **Invalid token. Please reinitiate login.**  I’m afraid

can you please confirm that **YOUR_KEY here is User-Generated** from canvas dashboard
generated from setting path [http://localhost:3000/profile/settings](http://localhost:3000/profile/settings)

[code]

Also **YOUR_CLIENT_ID** here is **User-Generated Developer Keys**  gen

[2020-03-09 15:42] Cvmcosta commented on #10
@HamzaBinSarfraz The YOUR_KEY can be any key, that's just the key ltijs will use to encode cookies and privatekeys. YOURR_CLIENT_ID is the developer key from canvas.
Since your canvas appears to be in localhost:3000 your parameters would be:

[code]

[2020-03-16 13:47] HamzaBinSarfraz commented on #10
Thank you so much @Cvmcosta

[2020-03-19 21:42] esellin opened #28 "Execute custom code on the Express app instance"
Hello again!

Fantastic work on your LTI library, please keep it up!

I had to do some serious HTTP logging of all requests and responses, including headers and body, so I ended up adding the following code inside ```Server.js``` at the end of the constructor:

[code]

I know everybody will want to do their own logging slightly differently, so I'm not asking you to add the code above to your libra

[2020-03-19 21:54] Cvmcosta commented on #28
Hello! Thanks a lot for the feedback and sugestion :).
 Custom middleware support is actually already on my roadmap, i'll be probably adding it in the next update, hopefully by the end of the week.

[2020-03-20 05:33] #28 closed

[2020-03-20 05:35] Cvmcosta commented on #28
Hello again @esellin ! Just published a new version of ltijs that addressed this issue. You can create middlewares easily now:

[code]

[2020-03-20 07:26] esellin commented on #28
You're a star! Thank you, and stay safe!

[2020-03-21 00:42] Cvmcosta commented on #11
Hello @esellin  and @nathaniel-holder. I finally got around to working on this issue. I've added an
 experimental option to the deploy method that stops the server from listening, like you suggested:

[code]

@esellin Can you please try it out sometime? I'd like to make some progress in this issue.

[2020-03-21 22:23] esellin commented on #28
Can confirm this is working, thanks!

[2020-03-21 23:08] esellin opened #29 "SameSite cookies"
Hello!

The latest version of ltijs returns a cookie without SameSite=None when calling /login. This breaks my stuff horribly with the latest version of Chrome, so I've had to revert to an older version of ltijs.

I can see a new "externalRequest" flag in the Provider.redirect() method, but I'm not sure I understand its purpose.

Can you give us a little more info about what you were trying to ach

[2020-03-21 23:17] nathaniel-holder commented on #11
@Cvmcosta Thanks, I'll try this out as soon as I can.

@esellin If you can share anything more about how you are managing to use lti.js with AWS Lambda that would be great.  Are you also using API Gateway?  I am also using DynamoDB - are you able to publish that as a public plugin for lti.js?

[2020-03-21 23:51] Cvmcosta commented on #29
@esellin Hello, i used to set sameSite to 'None' everytime, but in new versions of chrome, cookies containing sameSite but without the secure flag are not allowed. So i now i let the user decide this flag, and only set it automatically if the tool detects an external request.

You can set the flag in the onConnect method:

[code]

I should have drawn attention to that in the documentation update,

[2020-03-22 00:22] esellin commented on #29
I noticed the sameSite option in onConnect(), but it's too late. This is happening at the /login stage.

I'm not sure what externalRequest is meant to do when calling validUrl, but it's clearly not triggering for me, when it looks like it should.

I'll put some more debug tomorrow, and get back to you with more details about my exact use case.

[2020-03-22 00:31] Cvmcosta commented on #29
@esellin  I know it's confusing, but even the cookies at the login stage are managed by the options on onConnect, bad decision early in the project, moving them could potentially break peoples code so i havent done it yet, In future versions these configurations will be moved to the main constructor.

Can you try setting sameSite: 'None' in the onConnect method and tell me if it works?

[2020-03-22 09:02] esellin commented on #29
It's working with sameSite: 'None' in the onConnect() options, thanks!

I think these cookies are cross-site cookies, because they're being sent to https://tool while the browser address bar is showing https://platform.  Check out https://blog.chromium.org/2019/10/developers-get-ready-for-new.html

Thanks anyway!

[2020-03-23 04:54] Cvmcosta commented on #29
I'll consider how to move forward with this issue. I dont want to set sameSite automatically because in newer versions of chrome it requires the secure flag, which would make local testing without https impossible. But i also don't want to break login if sameSite is not present.
I'll run some tests and try to come up with a solution (maybe change how i validate the login parameters?). I'll keep th

[2020-04-01 21:50] Cvmcosta commented on #29
This issue is now fixed in version 3.5. I'm using the database to store the validation information, it's more reliable and does not have the cors restriction that caused the problems.
I also moved the cookie configurations to the [main constructor](https://cvmcosta.me/ltijs/#/provider?id=instantiate-a-new-lti-object), but kept the old parameters in the onConnection method to avoid breaking older c

[2020-04-01 21:50] #29 closed

[2020-04-11 21:30] Cvmcosta commented on #23
I also want to add a tutorial on using the database class, since it is now exposed.

[2020-04-14 00:41] hank-frank opened #31 "Hosting LTI provider on different domain"
I'm attempting to get a development version of a basic LTI instance working with a live production Moodle instance. I'm hosting the tool locally and am attempting to update the grade book of the Moodle instance but am running into a CORS issue where I'm being blocked by the Moodle instance for making a cross-site request.

I have the LTI connecting and loading an HTML page with a button that fires

[2020-04-14 00:57] Cvmcosta commented on #31
Hello! I think you should be sending the request to your Ltijs instance inteasd of moodle.
You should send the request to a /grade endpoint in your Ltijs and then have something like:

[code]

Then the Grade.ScorePublish call will handle sending the grade to your Moodle.

[2020-04-14 01:00] hank-frank commented on #31
Thank you for the super fast response. I’ll give it a shot right now.

[2020-04-14 16:05] hank-frank commented on #31
Hey, I got that sorted out and am now hitting the /grade route. I have a console log within that route of 'res.locals' coming out populated with all of my live user info from the Moodle instance but no grades are making it into the grade book.

It seems to me that the lti.Grade.ScorePublish method isn't working.

I'm hoping that you might have a fix or troubleshooting idea for it. I notice that re

[2020-04-14 16:11] Cvmcosta commented on #31
Yes, the method receives the entire object. Can you run your code in debug mode and tell me what the logs display when you call the grade route?

You can do that by lauching your code like this: `DEBUG=provider:* npm start` . Then watch the logs and tell  me what happens when you try to send the grades.

[2020-04-14 16:21] hank-frank commented on #31
Thank you for the help, It's this: I changed a few lines to not post personal details:
[code]

[2020-04-14 16:31] Cvmcosta commented on #31
Okay, so some of your registered routes is wrong and has a hhttps protocol: ` provider:gradeService Unsupported protocol "hhttps:" +17ms`. That should be causing the error.

[2020-04-14 16:39] hank-frank commented on #31
I'm having trouble finding any route in either the code or in the External Tool Configuration in Moodle. Is there a location that you would expect to find one of those registered routes?

and Again, thank you very much for helping me out with this. I sincerely appreciate it.

[2020-04-14 16:45] Cvmcosta commented on #31
Looking at the logs i assume it's your platform's access token endpoint. And it's no problem :), glad to help.

[2020-04-14 20:22] michaelerobertsjr commented on #31
@Cvmcosta I'm also working on troubleshooting this issue. It appears it we have narrowed it to a url in the gradeService, does it require setting up a custom Oauth provider/service in Moodle for the LTI to use?

[2020-04-14 20:30] Cvmcosta commented on #31
@michaelerobertsjr Current versions of Moodle that support LTI 1.3 don't require any additional work. If your issue is the same as @hank-frank's you just have to check the registered endpoints of your Moodle:

[code]

[2020-04-14 21:42] hank-frank commented on #31
So I got the hhttps error solved, it turns out that it never updates the DB entry for those lti.registerPlatform values if you change them.

I'm having another issue that I've tracked down a bit more.
[code]
I've followed these to the try/catch in Grades.js starting on line 279 and the call of
[code]
which is in Platform.js on line 321, specifically this call of Auth.getAccessToken() which I wrapp

[2020-04-14 22:05] Cvmcosta commented on #31
I see, moodle is not returning you an access token (and for some reason the exception is not being caught in the ScorePublish method, even though it's inside a try/catch block), the request for an access token is returning a 400. Now there are some things that can help us troubleshoot this:

- What is your Moodle's version?
- Is your provider correctly configured within Moodle? (Public key generat

[2020-04-14 22:11] hank-frank commented on #31
Moode verison 3.7+
I just updated the Public Key and am now getting this error output:
[code]

[2020-04-14 22:14] Cvmcosta commented on #31
Okay, now the access token is being generated. Is the user you're trying to set the grades to registered in the course? (That's one possible reason) And is the Grade service authorized in your provider configuration at Moodle?

[2020-04-14 22:22] hank-frank commented on #31
The user is registered in the course, I've tried it with both my admin-level account and a second student level account, both of which are registered in the course.

I'm going in to double check that the grade service is authorized now.

[2020-04-14 22:24] Cvmcosta commented on #31
If everything seems okay you should try checking Moodle's error logs, maybe it'll give us some hint.

[2020-04-14 22:50] hank-frank commented on #31
Am I correct in thinking that I will need to turn on debugging messages under the Site Administration => Development to see those logs?

[2020-04-14 23:05] Cvmcosta commented on #31
Usually error logs are sent to /var/log/apache2/error.log, so i dont think it is necessary, but it doesnt hurt to try.

[2020-04-14 23:30] michaelerobertsjr commented on #31
Here are the relevant lines in the access logs:
[code]

[2020-04-14 23:34] Cvmcosta commented on #31
What about the error log? We need to find out why it's returning an unauthorized status.

[2020-04-14 23:45] michaelerobertsjr commented on #31
The closest errors in the time frame from the log:
[code]

[2020-04-15 00:44] Cvmcosta commented on #31
Okay, according to your access logs, the request sent to `/mod/lti/services.php/58/lineitems?type_id=5 ` is returning 401. Looking through Moodle's files i can see that the error is coming from the method `check_tool` being called from the file `/mod/lti/service/gradebookservices/classes/local/resources/lineitems.php`. This method is used to `"Check that the request has been properly signed and is

[2020-04-15 00:54] michaelerobertsjr commented on #31
Thanks @Cvmcosta

Earlier today I figured out that there was some caching in the db so we have been dropping the db between tests to ensure we were getting a fresh session/cookie set.

I'm beginning to think it's an issue with the version of Moodle or permissions that are different in production.

If you have some time I think a hangout would be helpful. Can you email me at mike at sdcs.io and we

[2020-04-15 15:17] fadeenk opened #32 "Redirects failing on windows when prefixing the app"
When using the `path.join` on a windows machine, it uses `\` for the paths causing the resulting URL to be `/%5Clti%5C?ltik=` which is an invalid url

https://github.com/Cvmcosta/ltijs/blob/5c75b8cec0a7fb7a094247fb8edcf6310f9658e9/src/Provider/Provider.js#L308

This breaks prefixing on windows machines.

See example logs using `/lti1.3` prefix
![image](https://user-images.githubusercontent.com/380

[2020-04-15 16:15] Cvmcosta commented on #32
Hello again. Yes, that was my bad, sorry. Just released a fix (reverted back to using concatenation), can you try it out and let me know if everything is okay now?

[2020-04-15 16:21] fadeenk commented on #32
Looks like it is working perfectly! Thank you for the quick fix :)

[2020-04-15 16:21] #32 closed

[2020-04-28 16:34] Cvmcosta commented on #13
This patch was integrated in Moodle 3.9 that will be released in May 2020

[2020-04-28 16:34] #13 closed

[2020-05-01 17:27] esellin opened #33 "Missing await"
When the provider inserts `idtoken` and `contexttoken`, it's missing an `await` keyword.

This means I'm returning a `307` before data has actually been inserted in my (DynamoDB) database.

When the LTI platform immediately comes back to me, the request fails because I'm trying to look up stuff in the database that hasn't been inserted yet.

[2020-05-01 17:31] Cvmcosta commented on #33
Hello! Yes, you're right, i'll look into this today. Thanks for pointing it out.

[2020-05-08 11:50] esellin commented on #33
Sorry for late response. I can confirm it's working okay now, it's waiting for the Insert() promise to resolve. Thanks!

[2020-05-08 14:13] #33 closed

[2020-05-22 15:25] paulschwoerer opened #35 "Typescript support"
Hi :)

First of all: thanks for your great work!

would you be interested in including typings in this library, for it to be usable in typescript? I'm currently using it in a typescript project in university, so I'd be able to provide the typings I made. They might be incomplete however and I'd appreciate if you'd have a look at it, given your understanding of the library goes much deeper!

Cheers

[2020-05-22 19:31] Cvmcosta commented on #35
Hello!! Thank you for your interest in this project :)!

I really like your idea, but I've never worked with typescript before, so to be honest i don't really know how to do this. But i would like to look into what you did and learn about it to be able to implement this in the near future. Right now i'm focused on getting an IMS Certification for the library, but this could be a good next step.

T

[2020-05-23 10:38] paulschwoerer commented on #35
I don't think it would be too much of a hassle, have a look at these links:

- https://stackoverflow.com/questions/53710368/how-do-i-add-typescript-types-to-a-javascript-module-without-switching-to-typesc
- https://www.typescriptlang.org/docs/handbook/declaration-files/introduction.html

If you'd like I could start a PR, so you and maybe some other people could look at it and expand on the typings

[2020-05-27 12:57] Cvmcosta commented on #35
Yes, that would be nice :). And thank you for the links, i'll look into it during the weekend.

[2020-05-27 20:41] paulschwoerer commented on #35
It's also possible to publish the typings to [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped), which seems to be [recommended](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html) by the people behind typescript.

I guess that's up to you :)

[2020-06-08 12:22] paulschwoerer commented on #35
Haven't heard from you in a while, I guess I'll do a PR at Definitely Typed, as recommended. After that it'll still be possible to integrate the typings on a later date.

[2020-06-08 12:22] #35 closed

[2020-06-08 14:51] Cvmcosta commented on #35
Hello, sorry for not answering sooner, I've been dealing with some personal issues and haven't had much time to work on this, and the little time i had was directed towards some bug fixes and the IMS certification process. I see you didn't open a pull request here yet, what would be the next step towards me implementing this feature?

[2020-06-08 15:22] paulschwoerer commented on #35
No worries man, those things should always be prioritized!

After digging around how to properly implement typescript modules, I found [this page](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html), which states, that typings for a library not written in typescript should be distributed with DefinitelyTyped.
I guess the reason for that is, that you would need to includ

[2020-06-08 18:49] paulschwoerer commented on #35
See [here](https://github.com/DefinitelyTyped/DefinitelyTyped/pull/45363) for the PR

[2020-06-09 00:46] Cvmcosta commented on #35
Sounds great, please let me know once the PR is finished. I read a bit about it and took a quick look at the PR. Thanks again for the great work!

[2020-06-09 10:54] paulschwoerer commented on #35
Could you add a comment in the PR, that you approve of the changes? That could lead to the PR being merged sooner. Only if you're comfortable with that, of course.

[2020-06-09 12:46] Cvmcosta commented on #35
Sure! I left a comment there. :)

[2020-06-19 00:28] ahelord opened #36 "Multiple platforms"
I want to make an LTI provider tool, is it possible to have multiple platforms (multiple Moodles) connected?

[2020-06-19 00:42] Cvmcosta commented on #36
Hello! Yes, you can register and work with as many platforms as you want.

[2020-06-19 00:44] ahelord commented on #36
Hi, @Cvmcosta  could you please provide me an example?

[2020-06-19 01:33] Cvmcosta commented on #36
In order to connect a tool provider to a platform with LTI they have to be registered in each other. And you can register as many platforms as you want just by calling the registerPlatform method multiple times:

[code]

After doing so, your provider would be able to work with both platorms 1 and 2

[2020-06-19 02:24] ahelord commented on #36
thanks i will try it

[2020-06-19 02:24] Cvmcosta commented on #36
Great! Let me know how it goes :)

[2020-06-19 05:18] ahelord commented on #36
What happens with the key that must be inserted in moodle would generate more than one?

[2020-06-19 11:59] Cvmcosta commented on #36
Ltijs generates one key per platform, you can just get the individual keys after registration:

[code]

[2020-06-19 12:22] jjwatson commented on #19
It would be great if this hard coded limit could be removable too - so only the token expiry time can be used for whether the token is too old.

[2020-06-19 12:35] Cvmcosta commented on #19
Hello, this feature will be released with version 5.0 of the library currently under development. I suppose i could make a special release just for this feature if you feel like it is absolutely needed right now. In any case, 5.0 will come out in the next few weeks.

[2020-06-20 00:32] ahelord opened #37 "How to serve an Angular build"
I want to redirect to the Angular build dist  get this log and it sends me to invalidToken

![image](https://user-images.githubusercontent.com/21299810/85187201-90db0280-b263-11ea-8b44-3324a59aeaf0.png)

![image](https://user-images.githubusercontent.com/21299810/85187175-57a29280-b263-11ea-924f-180a9696fe70.png)

[2020-06-20 01:42] Cvmcosta commented on #37
In order to serve static files (like your js files generated by angular), just like express you need to declare a static file path, in Ltijs you can do this by using the staticPath parameter in the constructor options object, example:

[code]

further information: [Serving static files in Express](http://expressjs.com/en/starter/static-files.html)

[2020-06-20 14:46] ahelord commented on #37
[code]

[2020-06-20 14:47] #37 closed

[2020-06-20 14:48] #36 closed

[2020-06-20 14:48] ahelord commented on #36
@Cvmcosta  thank you very much.

[2020-06-24 21:35] #26 closed

[2020-06-26 16:21] ahelord opened #38 "Path does not match reserved endpoints: when I deploy on App Engine"
I am deploying the ltijs server in the app engine I get the message "Invalid token. Please reinitiate login." and the next log

[code]

[2020-06-26 16:42] Cvmcosta commented on #38
Hello, can i see how you setup your Provider? This might happen if you change the default appUrl and dont change the main redirection url passed to the Platform to match the new default one.

[2020-06-26 17:32] ahelord commented on #38
[code]

[2020-06-26 17:59] Cvmcosta commented on #38
What version of Ltijs you are using, i just noticed that the logs are missing information present in the newest version, specifically the login request info, that might give us some insight on the issue. Apart from that, you should know that the appUrl parameter should be a relative express route:

this:
[code]
should probably be:
[code]

I get the confusion caused by the parameter name, in the ne

[2020-06-26 18:04] ahelord commented on #38
Version 4.0.3

[2020-06-26 18:07] Cvmcosta commented on #38
Do you mind updating to version 4.1.0? I wanna make sure everything is being passed correctly when generating the login request, this version has the necessary logs.

[2020-06-26 18:36] ahelord commented on #38
The problem was caused by the lack of / at the end of the Redirection URI in moodle config. thanks @Cvmcosta

[2020-06-26 18:37] #38 closed

[2020-06-26 20:58] ahelord opened #39 "How can I always renew the time session"
**Describe the bug**
I get the message "Token invalid or expired. Please reinitiate login." but it is because the session expired
**Expected behavior**
Always show the plugin

**Provider logs**
Copy of the relevant provider logs.

`2020-06-26 20:53:32 default[test]  2020-06-26T20:53:32.290Z provider:main Passing request to session timeout handler
2020-06-26 20:53:32 default[test]  2020-06-26T20:53

[2020-06-26 21:40] Cvmcosta commented on #39
Hello, can i see a bigger portion of the logs? And can you describe to me exactly the situation that led to the bug? You launched and then waited and later it stopped working?

The cookies set by Ltijs are session cookies, they should only expire when the browser is closed. So if the issue is happening immediately after launch, maybe the cookies aren't being set in the first place. So maybe checki

[2020-06-27 01:26] ahelord commented on #39
I will try to reproduce the steps for the moment I close it. thanks @Cvmcosta

[2020-06-27 01:26] #39 closed

[2020-07-07 14:00] ahelord opened #40 "Works with Blackboard?"
**Describe the solution you'd like**
I would like to know if it is possible to use it with Blackboard?

[2020-07-07 14:08] Cvmcosta commented on #40
Hello, if i'm not mistaken, blackboard uses a multi tenant system for LTI, this means that version 4.1.1 of Ltijs should work fine, but every Blackboard platform will be treated as the same (Will have the same platform url), that does not cause many issues, but it's not ideal. The new 5.0 release will fix this issue and introduce full support to multi tenant, it should come out later this week, si

[2020-07-07 14:27] #40 closed

[2020-07-07 14:29] ahelord commented on #40
If I checked this chart and it wasn't there, why did I ask
![image](https://user-images.githubusercontent.com/21299810/86796403-2b915a80-c034-11ea-80d5-d0b875a4a8c7.png)

thanks @Cvmcosta

[2020-07-07 18:23] jeffmiko opened #41 "Invalid token. Please reinitiate login."
**Describe the bug**
Getting "Invalid token. Please reinitiate login." HTTP 401 error in Moodle.

**Expected behavior**
Show "It's alive"

**Provider logs**
 LTI Provider is listening on port 3000!
 LTI provider config:

  provider:main Platform already registered. +37ms
  provider:main Platform already registered. +10ms
  provider:main Platform already registered. +7ms
  provider:main Receiving r

[2020-07-07 18:55] Cvmcosta commented on #41
Hello, your configuration looks correct at first glance.

i've been seeing some problems regarding the usage of ltijs with Bitnami Moodle, apparently their configuration causes some issues. I'm installing their Moodle Stack and trying to figure out what is wrong. It seems Bitnami's moodle is not receiving either the nonce or the lti_message_hint parameters correctly, i'll try to see what i can do

[2020-07-07 19:09] Cvmcosta commented on #41
Just to confirm, you are using [this](https://github.com/bitnami/bitnami-docker-moodle) docker container, right?

[2020-07-07 19:28] jeffmiko commented on #41
Yes that is the correct docker. I installed a clean Canvas in a virtual machine but I could not get the tool to work on that either. So I wanted to try Moodle so I used the easy docker container. I am going to install a moodle instance from scratch on virtual machine and test it

[2020-07-07 22:37] Cvmcosta commented on #41
Got it, i think i found the error, or at least what triggers it, Moodle throws this error when the platform domain does not match the endpoint's domain.

I repeated your exact code (only changed database configuration) and tested against the same Bitnami Container. When using http://localhost as the moodle address everything worked fine, but when i changed it the authentication url to http://192.1

[2020-07-08 12:37] jjwatson opened #42 "tool_platform is an optional claim but its absence causes a 'property of undefined' error"
**Describe the bug**
Trying to get our new consumer up and running against our LTI tool, but it was failing after successful validation with a property of undefined error.

**Expected behavior**
It shouldn't try to validate an optional absent claim

**Provider logs**
[code]

**Ltijs version**
 - Version 3.6.3

**NodeJS version**
 - Version 13

**Platform used**
 - Custom

**Additional context**
I'

[2020-07-08 14:24] Cvmcosta commented on #42
Hello! This error occurs because your platform is not passing all the platform information in the idtoken that should be in the `https://purl.imsglobal.org/spec/lti/claim/tool_platform` claim. According to the IMS LTI 1.3 spec `"The optional https://purl.imsglobal.org/spec/lti/claim/tool_platform claim composes properties associated with the platform instance initiating the launch."`.

That being

[2020-07-08 14:25] jjwatson commented on #42
Thank you, I'll test out the latest version!

[2020-07-08 14:36] #42 closed

[2020-07-08 14:39] jeffmiko commented on #41
I installed Moodle 3.7 on a clean virtual machine following the [Ubuntu instructions](https://docs.moodle.org/39/en/Step-by-step_Installation_Guide_for_Ubuntu) and it is working now. I followed the steps in your [Medium article](https://medium.com/@cvmcosta2/creating-a-lti-provider-with-ltijs-8b569d94825c). So it was definitely something to do with my docker setup or environment. I wonder if it ha

[2020-07-08 15:03] Cvmcosta commented on #41
I see, i'm glad it worked out!

[2020-07-08 15:03] #41 closed

[2020-07-17 18:34] ahelord opened #44 "authorize request redirects to another canvas"
Once the lti plugin is installed on canvas, the authorize request redirects to another canvas
(another platform installed). What could it be?

[2020-07-17 18:58] Cvmcosta commented on #44
Hello, by authorize request you mean the LTI login request? If so, there might be something wrong with the platform registration

[2020-07-17 19:05] ahelord commented on #44
Yes, it is the login request, as would be the configuration for two canvas:

__________

     "url": process.env.UNILUISAMIGO_MOODLE_URL,
        "name":process.env.UNILUISAMIGO_MOODLE_NAME,
        "clientId": process.env.UNILUISAMIGO_MOODLE_CLIENT_ID,
        "authenticationEndpoint":process.env.UNILUISAMIGO_MOODLE_AUTH_URL,
        "accesstokenEndpoint": process.env.UNILUISAMIGO_MOODLE_ACCESS_T

[2020-07-17 19:08] ahelord commented on #44
If it is for the lti request login, what would the registration be for two canvas?

[2020-07-17 19:12] Cvmcosta commented on #44
You would just call registerPlatform twice, passing each platform's values.

[code]

[2020-07-17 19:16] ahelord commented on #44
await lti.registerPlatform({
    url: 'https://org1.instructure.com',
    name: 'ORG Name 1',
    clientId: 'TOOLCLIENTID1',
    authenticationEndpoint: 'https://org1.instructure.com/auth',
    accesstokenEndpoint: 'https://org1.instructure.com/token',
    authConfig: { method: 'JWK_SET', key: 'https://org1.instructure.com/keyset' }
})
await lti.registerPlatform({
    url: 'https://org2.instructur

[2020-07-17 19:19] Cvmcosta commented on #44
Yes, exactly

[2020-07-17 19:53] ahelord commented on #44
I think I found the error the two platforms send login request from the url https://canvas.instructure.com, but in the platformUrl database it is unique and sends it to the first to return the query, was I confused when sending one or the other how does that differentiate?

[2020-07-17 19:59] ahelord commented on #44
in this step change platformUrl for 'https://org1.instructure.com' and see
![image](https://user-images.githubusercontent.com/21299810/87826132-f1973400-c83d-11ea-9f63-f389a1015040.png)

[2020-07-17 20:33] Cvmcosta commented on #44
Hello, according to the Canvas documentation, you should only register one platform, as far as i understand, since it seems your canvas is instructure hosted: https://canvas.instructure.com/doc/api/file.lti_dev_key_config.html

Apparently all instructure hosted platforms use the same endpoints, i only ever used locally hosted canvas platforms, so i'm not sure how that works. But my guess is that y

[2020-07-17 20:42] ahelord commented on #44
But does the mongo database have a unique constraint on platformUrl in the platform collection?
So when I request a platformUrl bring it the first one and not the correct one

refactor is here search for platformUrl and ENCRIPTIONKEY
![image](https://user-images.githubusercontent.com/21299810/87829137-037bd580-c844-11ea-99a5-17a7c875769f.png)

[2020-07-17 20:45] Cvmcosta commented on #44
The database searches only for the platformUrl, which should be unique, since even even in multi tenancy scenarios you would only need to register it once. Are your canvas platforms instructure hosted? Cause if so, you only have to register one platform, with the parameters i sent in my previous response.

[2020-07-17 20:52] ahelord commented on #44
This is possible? If I have two Hosted Canvas do they have two different "clientId"? How would I register them?
[code]

[2020-07-17 20:59] Cvmcosta commented on #44
According to the [canvas documentation](https://canvas.instructure.com/doc/api/file.lti_dev_key_config.html) you would only register one of those platforms, since they have the exact same endpoints. Registering more than one platofmr with the same main Url is not possible in the curent version of Ltijs.

I don't really understand how Canvas multi tenancy is working right now, but if they follow th

[2020-07-17 21:20] Cvmcosta commented on #44
I'll look into the Canvas Multi tenancy system and try to come up with a solution for this issue, i don't think the current system can handle how they are organizing the registrations in a sort of hybrid way, using the same endpoints but giving different client ids.

Thanks for bringing this to my attention.

[2020-07-17 21:45] ahelord commented on #44
Thank you, what an excellent support, I am in your hands to advance my project, again thanks for your collaboration

[2020-07-17 21:51] Cvmcosta commented on #44
My pleasure! If you could give some information it would really helpful, i dont have access to a instructure hosted canvas.

Can you test registering only one of the platforms and letting me know if the one you registered works?

And can you tell me if the platforms gave you different deploymentIds in addition to the different clientIds?

[2020-07-17 23:18] ahelord commented on #44
Can you try registering only one of the platforms and let me know if the one you registered works? If it works correctly

And can you tell me if the platforms gave you different deployment IDs in addition to the different customer IDs? If from canvas I get a "clientId" and a secret (it would work as a unique identifier)

I am thinking of adding another parameter to the registry, unfold. In this wa

[2020-07-17 23:22] Cvmcosta commented on #44
I think i'll search for { platformUrl, clientID, DeploymentID }, since whenever you register a tool the platform gives you a deployment Id as well. That would require some changes in the registration method, but it would work.

In [this](https://community.canvaslms.com/docs/DOC-16730-42141110273) tutorial, you can see how to get the deployment id after registering a tool in canvas.

[2020-07-17 23:26] Cvmcosta commented on #44
Actually i think that if my understanding of multi tenancy is correct i can get away with only checking the platformUrl and ClientId, this way i dont have to make any Breaking changes in the registration api

[2020-07-17 23:28] ahelord commented on #44
This version is older, but could it be any unique identifier? or should it be the one of the installed tool?

[2020-07-17 23:33] Cvmcosta commented on #44
One of the installed tool. They gave you different cliendIds, right? I'll use that to differentiate and allow multiple registrations with the same main Url.

[2020-07-17 23:37] ahelord commented on #44
Yeah that's right

[2020-07-17 23:54] Cvmcosta commented on #44
Hello, can you tell me if your canvas sends the clientId in the initial login request? You might be able to figure that out in the browser network tab or maybe just doing a console.log() in the reserved login route. It would help immensely.

[2020-07-18 00:38] ahelord commented on #44
[code]

[2020-07-18 01:07] Cvmcosta commented on #44
I think this request is the one sent from the tool to canvas. I wanted to know if canvas was sending the client id in its initial login request. But i took a look at the canvas code and i think it does, just wanted to confirm.

[2020-07-18 01:22] ahelord commented on #44
The first request is this:
[code]

[2020-07-18 01:23] ahelord commented on #44
Second request is this
[code]

[2020-07-18 01:25] ahelord commented on #44
Third reques is this with cookie:plata

[code]

[2020-07-18 03:34] Cvmcosta commented on #44
Hello, i just submitted a commit to the version 5.0 branch that might fix your problem. This version will be released next week, i'm just finishing the documentation, and migration tutorial, since i made a few API changes.

As we discussed, in the new version you will be able to register multiple platforms with the same platformUrl as long as they have different clientIds.

Thanks again for bringi

[2020-07-18 03:34] #44 closed

[2020-07-18 03:56] ahelord commented on #44
Excellent, be careful to install as soon as you update the version.

[2020-07-18 15:10] ahelord commented on #44
For your consideration, this can happen in moodle

cliendId =deploymentId in moodle

Have you already thought about it?
[code]

[2020-07-18 19:36] Cvmcosta commented on #44
I don't use deploymentId alone to get the platform, i was using platformUrl + deploymentId, i just added clientId to deal with the canvas use case.

As long as the platformUrl is different (as in your example), i wouldn't have any issues.

[2020-07-25 00:07] Cvmcosta commented on #44
Hello @ahelord, version 5 of Ltijs is finally out! I suggest you read the migration tutorial in the documentation and then test to see if your issue was resolved.

Sorry it took this long, i was working on the database plugin and it was a bit harder that i though it was going to be. Thanks!

[2020-07-25 00:08] Cvmcosta commented on #7
I know it's been a long time, i just wanted to register here that after the 5.0 release, MySQL is once again compatible with Ltijs through the [Sequelize plugin](https://github.com/Cvmcosta/ltijs-sequelize).

[2020-07-25 00:08] #7 closed

[2020-07-25 00:11] #22 closed

[2020-07-25 00:15] Cvmcosta commented on #19
Hello @jjwatson and @esellin. The new 5.0 release of Ltijs  supports a tokenMaxAge parameter that allows you to configure the time limit in seconds, or disable the validation completely.

- [Token Max Age configuration](https://cvmcosta.me/ltijs/#/provider?id=token-max-age-allowed)
- [Migrating from version 4](https://cvmcosta.me/ltijs/#/migration)

Sorry it took this long.

[2020-07-25 00:15] #19 closed

[2020-07-25 00:21] ahelord commented on #44
@Cvmcosta  Excellent work without a doubt the next week I will do tests.

[2020-07-25 00:34] Cvmcosta commented on #35
Hello @paulschwoerer, just wanted to let you now that a new version of Ltijs is out now, and a a few API changes were made.
I was wondering if the typings need to be updated? And if you would please help me through the process, or at least point me in the right direction.

[2020-07-28 07:15] paulschwoerer commented on #35
Hey :)
Could you point me to where those API changes are documented? The typings only need updating if the public facing API changed (new methods, different parameters/ parameter types)

[2020-07-28 12:29] Cvmcosta commented on #35
Hey, thanks, i documented the major changes in this [Migration Tutorial](https://cvmcosta.me/ltijs/#/migration), only a few of them involve public facing APIs. Also the `New features` section of the [Changelog](https://cvmcosta.me/ltijs/#/changelog?id=v500) describes a few additions to existing methods and one new method.

[2020-07-29 09:56] paulschwoerer commented on #35
I made a WIP version. You can have a look at it [here](https://github.com/paulschwoerer/DefinitelyTyped/tree/master/types/ltijs).

Please let me know if you can spot any mistakes

[2020-07-29 23:30] ionparticle opened #46 "NRPS link header parsing does not work if there are multiple links"
For example, Canvas returns link headers that have multiple links: `<http://192.168.55.182:8900/api/lti/courses/1/names_and_roles?page=1&per_page=1>; rel="current",<http://192.168.55.182:8900/api/lti/courses/1/names_and_roles?page=2&per_page=1>; rel="next",<http://192.168.55.182:8900/api/lti/courses/1/names_and_roles?page=1&per_page=1>; rel="first",<http://192.168.55.182:8900/api/lti/courses/1/nam

[2020-07-30 02:36] Cvmcosta commented on #46
Hello, thanks for bringing this to my attention.
I was basing the parsing method on Moodle's link header format (which i now know is incorrect). I just released an update that should fix the issue ( version 5.0.2).

Please let me know if it works :)

[2020-07-30 16:13] ionparticle commented on #46
Confirm fixed! Thanks for the fast response!

[2020-07-30 16:13] #46 closed

[2020-08-06 18:17] #25 closed

[2020-08-10 05:13] richardumesh opened #47 "gradeservice 400 bad request in moodle"
**Describe the bug**
Thanks for the great library. Unfortunately i'm facing issues in the gradingservice for moodle. it throws 400 bad request.

**Provider logs**
provider:auth Cookie found +0ms
  provider:main Passing request to next handler +4s
  provider:gradeService Target platform: http://localhost:8888/moodle +0ms
  provider:gradeService Attempting to retrieve platform access_token for [http

[2020-08-10 11:13] Cvmcosta commented on #47
Hello, this issue is usually caused by registering the platform or tool incorrectly. Moodle is not being able to generate an access token that would allow you to send grades. Can you tell me how you registered your tool (within Moodle) and platform (within Ltijs)?

[2020-08-12 04:46] richardumesh commented on #47
Thanks @Cvmcosta
You are right i had made few mistakes while setting up the app in moodle. it works fine now.

[2020-08-12 04:46] #47 closed

[2020-08-12 06:59] richardumesh opened #48 "Canvas External app Setup"
Hi @Cvmcosta I was able get everything working with Moodle. Now when i try to register an external app with Canvas, it asks for consumer key and secret. How do get these keys?
![image](https://user-images.githubusercontent.com/32069139/89984676-6a4fab80-dc97-11ea-9d6f-54fb477c5d0e.png)
do you have any tutorial for Canvas similar to what you have for moodle?

[2020-08-12 11:13] Cvmcosta commented on #48
This is the registration screen for the old LTI version 1.1, Ltijs implements the newest LTI 1.3 Advantage.

Canvas documentation is a bit scattered but here are some useful links:

- [Canvas official LTI 1.3 Advantage docs - Registration inside Canvas](https://community.canvaslms.com/t5/Canvas-Releases-Board/Canvas-Release-LTI-1-3-and-LTI-Advantage-2019-06-22/m-p/246652)
- [Canvas official LTI 1.

[2020-08-15 14:00] rajcrystaldelta commented on #11
Hi @esellin @nathaniel-holder ,
Am also looking for DynamoDB database plugin, I like to try lti.js in AWS Amplify with API Gateway and Lambda.
Are there any updates on DynamoDB plugin?

[2020-08-24 16:01] ahelord opened #49 "Invalid token Error: ISS_CLAIM_DOES_NOT_MATCH"
**Describe the bug**
The lti tool opens in Canvas and shows INVALID TOKEN error message

**Expected behavior**
That the tool loads correctly

**Provider logs**
2020-08-24 15:57:38 default[prod]  2020-08-24T15:57:38.645Z provider:main Received idtoken for validation
2020-08-24 15:57:38 default[prod]  2020-08-24T15:57:38.645Z provider:auth Response state: c3dgv9m70xvuizihzphvdkcg4
2020-08-24 15:57:3

[2020-08-24 16:07] Cvmcosta commented on #49
Hello, this error occurs when the state login cookie is not able to be set. This can happen for a variety of reasons, but the most common one is that the cookie is being sent cross domain through an insecure connection. To handle this issue in a development environment where https is not available, you can set [devMode](https://cvmcosta.me/ltijs/#/provider?id=development-mode) to true in the setup

[2020-08-24 16:21] ahelord commented on #49
both domains are https

[2020-08-24 16:26] Cvmcosta commented on #49
Are the `sameSite: 'None'` and `secure: true` cookie flags set?

Example:

[code]

[2020-08-24 21:09] ahelord commented on #49
Not

[2020-08-24 21:24] Cvmcosta commented on #49
In order for cookies to be set cross domain, these flags need to be set. Browsers dont let cookies be set cross domain without being secure and having sameSite set no None.

[2020-08-24 21:56] ahelord commented on #49
https://gitlab.com/Booklick-tech/ms-ssr/-/commit/46bbc50d44dcf2da3e51b37a3dcbe3f3783c6b68

[2020-08-24 21:56] ahelord commented on #49
Excellent work, already worked

[2020-08-24 21:59] Cvmcosta commented on #49
Great to hear that!

[2020-08-24 21:59] #49 closed

[2020-08-27 12:18] matthias-w opened #50 "Shared OAuth secret authentication"
First of all this is not really an issue but more like general question:
The tool consumer I have to use does not provide the platform registration data that is needed in LTIJS' ``registerPlatform`` method. That is, there is no such data as ``authenticationEndpoint`` you describe in your [tutorial](https://medium.com/@cvmcosta2/creating-a-lti-provider-with-ltijs-8b569d94825c) with Moodle as a tool

[2020-08-27 13:10] Cvmcosta commented on #50
Hello! Thanks for your interest in the project!

The configuration data you described indicates that your Tool consumer implements LTI 1.1, an older version of LTI (Currently on 1.3 / Advantage). Ltijs only supports LTI 1.3, as it is the version recommended by IMS. You should check if your Tool Consumer has support for LTI 1.3. May i ask what tool consumer you are using?

[2020-08-27 14:05] matthias-w commented on #50
Hello and thank you for the quick reply and the clarification. The consumer is a proprietary system used internally by an other company. Seems that their system is not supporting version 1.3 (although I was told it does). Too bad, I really would have liked to use LTIJS. Thanks again for your time. BR Matthias

[2020-08-27 14:05] #50 closed

[2020-08-31 23:07] jeffmiko opened #51 "Course roles, course lis data, course endpoints, and course services are stored in the idtokens"
**Describe the bug**
It seems that course roles, course lis data, course endpoints, and course services are stored in the idtokens collection instead of the contexttokens collection. So if I access a CIS100 course, then access a HIS180 course, the CIS100 data is lost and overridden with the HIS180 course data. This is a likely scenario as learners and faculty may have multiple web browser tabs ope

[2020-09-01 00:09] Cvmcosta commented on #51
Hello Jeff. I just released  a new version of Ltijs that hopefully fixes this issue. Can you please take a look and let me know if everything is working as expected? I also updated the documentation on [IdToken and ContextToken](https://cvmcosta.me/ltijs/#/provider?id=idtoken).

Thanks again for bringing this to my attention.

[2020-09-01 19:31] jeffmiko commented on #51
Looks really good now. Thanks

[2020-09-01 19:31] #51 closed

[2020-09-04 13:32] cesarpachon commented on #11
hello, I am also interested in running LTI in AWS Lambda, I did have experience with running hybrid approach: microservices run locally with express, for local dev environment, and the same microservices run in Lambda. What I did was to abstract the microservices signature and create a lightweight adapter for both express and lambda..
example:
[code]

this is the express adapter:
[code]
and this i

[2020-09-08 15:47] ahelord opened #53 "Cookie is not saved in Safari"
**Describe the bug**
Hello, It does not save the cookie in the safari browser, I enter through chrome and it saves the cookie, I receive the INVALID_TOKEN error in sarafi in chrome I do not get it, I have this configuration

     appRoute: '/',
         loginRoute: '/ login',
         logger: false,
         staticPath: APP_FOLDER,
         tokenMaxAge: false,
         cookies: {
             secu

[2020-09-08 15:53] Cvmcosta commented on #53
Hello, Safari has a very strict anti cors cookie policy, i suggest you enter your safari configurations and allow cors cookies in general or in this particular domain.

[2020-09-08 16:08] ahelord commented on #53
What you say is that the plugin opens in a window? do you have any documentation for that?

What would happen if the plugin were in the same domain for example

https://lti.client.net
https://moodle.client.net

[2020-09-08 16:19] Cvmcosta commented on #53
No, i just mentioned how some companies circumvent the Safari issue by opening a popup window before trying to set the actual cookie.

Safari does not allow cross site cookies, maybe cookies on the same domain will work, if they are both on the same domain and different subdomains you should set the domain option in the cookies configuration:

[code]

And if you want to change the invalidToken rou

[2020-09-08 16:32] ahelord commented on #53
ok this configuration could be

[code]

[2020-09-08 16:44] Cvmcosta commented on #53
The value of this option is set as the cookie attribute Domain. Are you sure this attribute supports multiple domain values? If it does, i think it will work fine.

[2020-09-08 16:45] ahelord commented on #53
Sorry, it's a question, could you enter multiple domains in the domain field?

[2020-09-08 16:49] Cvmcosta commented on #53
I couldn't find an example online of people setting multiple domains in the Domain attribute, but the cookie specification uses "domains" plural when describing the Domain attribute, so i think it's worth the shot.

[2020-09-14 21:20] hasan-umanitoba commented on #10
@Cvmcosta I tried cloning your https://github.com/Cvmcosta/ltijs-examples repo and ran it. However I am getting "Token invalid or expired. Please reinitiate login." on moodle when I connect the external tool.  here is my index.js file `// Requiring LTIJS provider
const Lti = require('ltijs').Provider
// Requiring path
const path = require('path')
// Loading environment variables
require('dotenv').

[2020-09-14 22:06] Cvmcosta commented on #10
Hello @hasan-umanitoba, the examples present in ltijs-examples are extremely outdated. Can you please try to work with the example [Ltijs Demo Server](https://github.com/Cvmcosta/ltijs-demo-server)? Should be easier to setup following the instructions in the Readme.

If you still run into a similar issue, please tell me what LMS you are using and the domains of both the LMS and Tool.

[2020-09-14 23:20] hasan-umanitoba commented on #10
Hi @Cvmcosta thanks for replying!  I am trying to implement an LTI tool ( react site similar to yours ) and connect it to Moodle LMS. I have downloaded moodle instance and it is running on my local machine. by navigating to "http://localhost/ "  . I have followed your steps and registered an external tool into Moodle LMS. Below are the credentials.
![credentials](https://user-images.githubusercont

[2020-09-14 23:29] Cvmcosta commented on #10
You have to create your own `.env` file, in the project you will find a `example.env` file, rename that to `.env` and change the variables accordingly.

[code]
Have in mind that if your MongoDB Database has no authentication, you dont have to create the DB_USER and DB_PASS variables.

[2020-09-15 00:14] hasan-umanitoba commented on #10
Hey, @Cvmcosta I was able to run it however lti tool displays failed to fetch error. When names and roles service is clicked it displays failed retrieving members although I have added students to the user list in the course on moodle.
![failed to fetch](https://user-images.githubusercontent.com/55816213/93150275-43cdc780-f6be-11ea-8c62-86322eeab37b.PNG)
![working](https://user-images.githubuserco

[2020-09-15 01:05] Cvmcosta commented on #10
Hey, really sorry, i figured it out. Turns out i uploaded a version of the demo server where the client requests were pointing at a local dns, must have uploaded a test version by accident.

Please clone the newest update and let me know if it works.

Check the network tab and make sure the requests are going to `http://localhost:3000`.

Again, really sorry.

[2020-09-15 02:04] hasan-umanitoba commented on #10
@Cvmcosta I have cloned the latest version of the repo. after running it and changing the index.js and .env file with the credentials. It now displays the User Info, roles and context main screen However when I click on services such as names and roles  Service it still shows Failed retrieving HTTPError: internal server error

 const setup = async () => {
  await lti.deploy({ port: process.env.POR

[2020-09-15 02:09] Cvmcosta commented on #10
Okay, i ran some tests here and i have a theory. In your tool configuration inside moodle, did you set the Services options?

![Screenshot from 2020-09-14 23-08-06](https://user-images.githubusercontent.com/13905368/93156797-3e34a980-f6df-11ea-8625-a337b993bf8b.png)

I just tried removing this permissions from my test tool here and it returned the same error you are seeing there.

[2020-09-15 02:13] hasan-umanitoba commented on #10
@Cvmcosta yes these were set. Here is a look at the configurations
![toolsettings](https://user-images.githubusercontent.com/55816213/93157085-21907580-f6cf-11ea-9c8a-70dfe767cb06.PNG)

[2020-09-15 02:17] Cvmcosta commented on #10
Aaaah, i can see something wrong there. You're missing the Public Key field. You can retrieve the public key by calling:

[code]

Then copy the key and paste it on the Public Key field. This key is necessary to access the services.

[2020-09-15 02:22] hasan-umanitoba commented on #10
@Cvmcosta Thanks! for explaining each part in depth. It's working now. This is a very informative thread!

[2020-09-15 02:24] Cvmcosta commented on #10
@hasan-umanitoba Great! No problem :) ! Feel free to contact me if you have any more doubts.

[2020-09-15 23:53] hasan-umanitoba commented on #10
Hi There, I am building a React LTI tool that can communicate with LMS (Moodle ) and display it in an interactive way. So i want to implement my own user interface.
1 ) How can I change the User interface from Ltijs Demo Server which is connected to Moodle? u have mentioned the react code is present in the ltijs-demo-client library. Do I have to run this library on local to change the user interfa

[2020-09-17 01:06] Cvmcosta commented on #10
Hello, sorry it took me this long to answer. Yes, the code for the client is in the [Ltijs Demo Client](https://github.com/Cvmcosta/ltijs-demo-client) project.

You can clone it and call `npm start` to run it standalone, make your changes, and then run `npm run build` to generate the bundle. Then you can copy the contents of the `build` folder and paste them inside the `public` folder of Ltijs-Dem

[2020-09-19 08:31] iceekreeam commented on #8
Hey @Cvmcosta @MahmoudAbdo90 and @gentlemanjohn  Im trying to set this up for a  self hosted instance of canvas. unfortunately i can't seem to get a token back. i've noticed the code implementation has changed since the original posts at the start of the year.  ill attach my code here if anyone is able to help. Im sure it has something to do with the JWK. ive read over the notes above and did the

[2020-09-19 18:08] Cvmcosta commented on #8
Hello @iceekreeam, the problem is most likely in the registration, both in the tool and in the platform. [Here](https://github.com/Cvmcosta/ltijs/issues/48) you can find links explaining the Canvas Setup process.

A quick summary:
-  Canvas uses the same iss for most requests so your configuration would be something like:

[code]

- Inside Canvas, choose to use JWK Keyset and paste your Tool's key

[2020-09-24 04:50] iceekreeam commented on #8
Hi @Cvmcosta  thanks so much for a prompt reply. I'm really keen to get this working. I made a mistake earlier. My organisation's instance of canvas is actually hosted with instructure (not self hosted). I think the issue might be that i'm to request a token from a https:// instance of canvas while my ltijs demo server is on my local host http. I've been told that Canvas might reject requests in t

[2020-09-25 11:45] Cvmcosta commented on #8
It is possible that your requests are being blocked for being http, but i also spotted a couple of configuration issues in Canvas:

- Your target link URI is on port 3001 and your redirect URI is on port 3000, they should both be on the same port.
- Your OpenId Connect Initiation URI should be `http://localhost:3000/login` (or 3001).

[2020-09-25 17:13] ahelord opened #54 "It is compatible with Moodle 3.05?"
It is compatible with Moodle 3.05?

[2020-09-25 19:26] Cvmcosta commented on #54
Hello! I think Moodle only started supporting LTI 1.3 on version 3.7.

[2020-09-26 00:30] iceekreeam commented on #8
Hi @Cvmcosta  originally i had the target link URI point at the test client App which was on port 3001.  However i've made the changes you mentioned.
this might be a step closer, but i've screenshot the error that i'm now getting. I've also tried adding multiple redirect URIs which ive also took a screenshot but with the same result. My previous configuration did hit the onconnect function in the

[2020-09-28 21:44] Cvmcosta commented on #54
I'm closing this for now.

[2020-09-28 21:44] #54 closed

[2020-09-28 21:48] Cvmcosta commented on #8
I'd suggest trying to host this code to see if the http vs https issue is affecting something. It looks like your configuration is correct, did you delete and recreate the app after you updated the key settings? Canvas only applies the new setting to new apps.

[2020-09-30 19:09] bennytheshap commented on #8
Hi all -- was anyone ever able to solve this issue? I too am having difficulty posting grades to Canvas, and would love to see some working sample code. Thank you.

[2020-09-30 19:29] Cvmcosta commented on #8
Hello @bennytheshap, many times this issue come from a configuration mistake. Can you please show me your error logs so i can get a better idea of what is the problem. Also, what version of Ltijs are you using?

[2020-10-01 22:13] ahelord commented on #49
@Cvmcosta
With the recent version, could you save cookies between domains in the following way with a single configuration in the lti.setup options?

Where the LMS has http and my tool has HTTPS

  Where the LMS has https and my tool has HTTPS

[2020-10-01 22:23] Cvmcosta commented on #49
Hello! Technically if you remove the `secure` flag the cookies will work both in http and https, but browser support is going to vary. Some browsers will not allow cookies to be sent cross domain without being secure. And they might also not allow mixing secure and insecure content.

[2020-10-02 00:04] iceekreeam commented on #8
@Cvmcosta  Hi again just to keep the forum updated, i will be testing out your recommendations over the coming days. Once i have an update i will post back to the forum. Thanks again for the help.

[2020-10-11 16:57] GreenOn opened #55 "Keep getting "No LTIK or IdToken found."message."
**Describe the bug**
This may be perhaps a problem in the LTIKEY setup.
I did the setup as described in the tutorial. I am using localhost moodle and when I launch the demo tool, I get this error.
```{"status":401,"error":"Unauthorized","details":{"message":"No LTIK or IdToken found.","bodyReceived":{}}}```

**Expected behavior**
Expecting it to see "Tool works" or some other success message.

**P

[2020-10-11 17:17] Cvmcosta commented on #55
Hello, can you please tell me your provider configurations? (This error usually is caused by the cookie configurations). Also it would help if i could see the logs generated when the error happens (Run code with debug flag: DEBUG=provider:* npm start).

[2020-10-11 17:38] GreenOn commented on #55
Hi, Thanks for your reply. I am actually running the server example on localhost:3000 and the client example on localhost:3001.
I was trying with localhost:3001 for the redirect URL and that's when I get the above error. If I use localhost:3000 for the redirect URL in the provider settings, I don't see any error.

Here's my provider config, JIC:
[code]

[2020-10-11 17:59] Cvmcosta commented on #55
Wait so you are no longer seeing any errors? If you're still having issues, can you show me the logs at the exact time of the error, they should display relevant information.

[2020-10-11 18:29] GreenOn commented on #55
Here's the log:
[code]
Moodle Settings:

[2020-10-11 18:34] Cvmcosta commented on #55
According to the print you posted, your redirection URL is incorrect, it should be the same as the `Tool URL` field.

[2020-10-12 01:07] GreenOn commented on #55
Thanks. That works. I am getting a hang of this. I am following your medium article on this and trying out a few things. The grading service almost worked, but I got the "Incorrect score received" error. The log is shown below. Could you take a look and see if there is an issue with the `grade` object?
[code]

[2020-10-12 01:19] Cvmcosta commented on #55
I don't actually recommend following that tutorial since i'ts quite outdated and based on an older version of Ltijs. Im working on updating it.

Regarding your issue, you should check if the current user is enrolled in the course, as an admin you can always access the course but you're not necessarily enrolled in it.

[2020-10-12 01:22] GreenOn commented on #55
That makes sense! Thanks for your work.

[2020-10-12 01:23] #55 closed

[2020-10-15 01:15] Cvmcosta commented on #53
I'm closing this for now.

[2020-10-15 01:15] #53 closed

[2020-10-16 16:11] GreenOn commented on #8
I am lost in these discussions on where exactly the tool's keyset should go.
Tool's typical keyset url would be in this form:
`JWKS URL: https://example.com/.well-known/jwks.json`
I don't think it is something that platform provides and definitely not `plat.platformPublicKey()`.
In the tutorial, it was suggested to get the key from the `plat.platformPublicKey()` and paste it in the Moodle's public

[2020-10-16 16:22] Cvmcosta commented on #8
@GreenOn Hello, if you are talking about the Tool's keyset endpoint it is in the `/keys` endpoint ( `https://yourtool.com/keys`). I don't understand exactly what the issue is. When setting up the Tool inside moodle, you can either use the keyset endpoint, or use the raw RSA key returned from `plat.platformPublicKey()`

[2020-10-16 16:46] GreenOn commented on #8
Thanks. No issues. I think I am getting some clarity on this.
I think our tool's JWKS URL should go here..
[code]
And for the key in the platform registration will always come from the platform provider.
[code]
I think using the verbiage like JWKS or well-known URL's in the documentation can clear the confusion out.

[2020-10-16 16:51] Cvmcosta commented on #8
@GreenOn In the setup method, `keysetRoute` just creates an express route that serves the JWKS, does setting the route path as `/.well-known/jwks.json` work?

[2020-10-16 17:04] GreenOn commented on #8
@Cvmcosta , I am getting ready to deploy this to our sever and test it. if that `keysetRoute` doesn't work, we will need to figure out something. Typically, services like Auth0, OKTA provide these JWKS URL's to use. I can get back to you soon on how it goes.

[2020-10-16 17:07] Cvmcosta commented on #8
But Ltijs provides you with an JWKS URL, by default is `/keys`, the only thing `keysetRoute` does is change the default route path.

[2020-10-16 17:12] GreenOn commented on #8
I see. So, would there be anyway for us to overwrite the URL given by Ltijs with our tool's current JWKS URL?

[2020-10-16 17:15] Cvmcosta commented on #8
I think that these JWKS URLs have different purposes, `/keys` will only be used by LMSs since all it has it's the platform registration public keys. Ltijs generates a key pair for each registered platform, then when a platform has to validate a JWT, it hits the `keys` endpoint to get the correct public key and verify the signature.

[2020-10-16 17:36] GreenOn commented on #8
We use Auth0 and would like to integrate with the existing authentication framework. When we asked IMS Global, here's what they suggested. I am still scratching my head to see how I can accomplish this.
![Screenshot_1](https://user-images.githubusercontent.com/10933712/96290372-17061c00-0fac-11eb-9bd4-5ecf1afa2e8d.png)

[2020-10-16 17:48] Cvmcosta commented on #8
Aaaah, i think i get it. I don't see how you would be able to do this without altering Ltijs. You would have to change how Platforms are registered (to use Auth0 instead) and then change how these keys and Platforms are retrieved to get this data from Auth0. But have in mind that Ltijs already provides all of this functionality, i don't see a reason to use Auth0. As this person said, LTI doesnt ha

[2020-10-17 00:17] iceekreeam commented on #8
@Cvmcosta  hey guys so i still haven't finished my testing but i did host the ltijs server on heroku so that both the LMS and the tool are on HTTPS. I can see that Canvas did eventually generate a token for me however theres still more work i need to do before im clear about any remaining issues. One thing i noticed is the LTIJS server picked up the target_uri from the initial launch and sent it b

[2020-10-17 01:42] Cvmcosta commented on #8
@iceekreeam can you tell me what exactly happened with the redirect_uri situation? Ltijs has a system in place where it strips the target link uri of query parameters and adds them back after the request is finished. That is done because some LMSs follow the oauth specification strictly, which does not allow dynamic parameters on the redirect_uri. And in doing so I can get Ltijs to work seemlessly

[2020-10-17 04:42] iceekreeam commented on #8
@Cvmcosta  so i listed my target uri as also one of the redirect uris and thats what got picked up by ltijs as the redirect_uri when it sent a response back to canvas in step 2 of the open id connect process.  does that make sense?

![image](https://user-images.githubusercontent.com/19718980/96328456-07abcf00-108f-11eb-92a5-d0e803a71849.png)
![image](https://user-images.githubusercontent.com/19718

[2020-10-17 04:45] iceekreeam commented on #8
It could be a mistake from my end but,  i have generated an auth token from canvas listed below. At this point i assume i need to also upload your demo client on heroku and see if the whole process works smoothly. Another random issue im  running into is that i could generate the developer key with the same settings in production environment of canvas.. so i still have some work on my end
![image]

[2020-10-17 04:51] Cvmcosta commented on #8
@iceekreeam I might be misunderstanding this somehow but i still dont see an issue with the redirect_uri, Ltijs sets the the final endpoint as the redirect_uri since it`s where the LMS should redirect to at the end of the login flow.

I also had some issues with the production environment of Canvas but it was due to installation errors.

[2020-10-18 08:18] iceekreeam commented on #8
@Cvmcosta  Hi, no your probably right, im just trying to navigate my way through this. I'm not really certain if there was a definite issue. At this point my goal is to replicate deep linking, Am i correct in thinking i need to setup the Client demo Server and have that be my final redirect URI?  Are your two demo apps designed to interact with each other?

[2020-10-19 05:27] GreenOn opened #56 "Issues with Hosted LTIJS server"
**Describe the bug**
I moved the LTIJS server code to a hosted server and trying to integrate with a Localhost Moodle and having an Unauthorized 401 error.

**Expected behavior**
I am expecting it to read the LTIKEY properly and authenticate the request.
**Provider logs**
[code]
**Screenshots**
Here's a screenshot of the settings: https://prnt.sc/v21we1

**Ltijs version**
Latest

**NodeJS version*

[2020-10-19 11:11] Cvmcosta commented on #56
Hello, your Moodle platform is hosted locally, correct? This means that when ltijs tries to validate the idtoken, it hits
 the moodle keyset endpoint on localhost `http://localhost/mod/lti/certs.php`. The request fails because Moodle is not in the same machine, so attempting to connect to localhost does not work:

[code]

[2020-10-19 13:03] GreenOn commented on #56
Yes, Moodle platform is locally hosted on my machine and it is up and
running where I am performing this test.

On Mon, Oct 19, 2020 at 6:11 AM Carlos Vinícius Monteiro Costa <
notifications@github.com> wrote:

[2020-10-19 13:06] Cvmcosta commented on #56
What i mean is, are Moodle and the LTI server hosted in the same machine? Because if they are not, the localhost call to the Moodle keyset endpoint will not work.

[2020-10-19 13:47] GreenOn commented on #56
I see. Let me try the https://sandbox.moodledemo.net/ instead of localhost to see if it works.

[2020-10-19 14:18] GreenOn commented on #56
Yes, if I use non-localhost environment for the platform, it authenticates correctly. I am proceeding further with integration now. Thanks a lot!
I also turned off the `dev` mode.
[code]

[2020-10-19 14:18] #56 closed

[2020-10-21 16:30] GreenOn opened #58 "Platform settings for self-hosted Canvas"
Hi,
I installed Canvas and self-hosting it on our own server. I am confused about the platform settings for this type of setup.

Here's my platform setup:
[code]
And upon deployment of the app and trying to launch, I am getting an error `Unregistered platform attempting connection`.

[code]

I looked into other issues reported on Canvas setup, but they are for cloud-hosted canvas. I just wanted to

[2020-10-21 18:00] GreenOn commented on #58
Updated the platform setting to this:

[code]
I was able to bypass the `Unregistered Platform` error.

However, it throws this error now: `{"status":"bad_request","message":"Invalid lti_message_hint","error_report_id":177536838}`

[2020-10-21 18:33] Cvmcosta commented on #58
Hello, for self hosted canvas, the platform URL will be the default `https://canvas.instructure.com`, but every other endpoint should be directed to your canvas instance.

[code]

[2020-10-21 20:23] GreenOn commented on #58
Thanks. I changed it and it looks like there is some issue with the setup on the self-hosted Canvas as `https://canvas.greenos.io/api/lti/security/jwks` is producing an error `while(1);{"errors":[{"message":"An error occurred.","error_code":"internal_server_error"}],"error_report_id":161}`. I will do some more investigation on this to see if I screwed up anything on the server.

[2020-10-21 20:32] Cvmcosta commented on #58
How did you install Canvas? The Canvas Docker image doesn't work well with LTI. And if you did the production installation, you must to the Dynamic settings configuration and Redis configuration for LTI to work properly. It's a bit tricky.

[2020-10-21 20:42] GreenOn commented on #58
I used bitnami instance on aws: `https://docs.bitnami.com/aws/apps/canvaslms/`.
Yes, I am reading somewhere that I need to visit the Dynamic settings part. It's hard :-(

[2020-10-21 20:45] Cvmcosta commented on #58
Yeah, i was not able to get the Bitnami Canvas image working with LTI :c. I had to do a manual production installation.

[2020-10-22 04:11] GreenOn commented on #58
I got this working finally. There is a workaround explained in this [Canvas Community Post](https://community.canvaslms.com/t5/Developers-Group/Canvas-LTI-1-3-Error-Unknown-Key-Type/td-p/389023) that solved this issue.

[2020-10-22 04:11] #58 closed

[2020-10-27 08:55] shenieee09 opened #59 "Cannot connect to self-hosted Canvas lms"
I have tried ltijs to connect to our self-hosted Canvas at http://dvseok.shop but I cannot get token in function ```lti.onConnect```, it returend undefined. this is our config:

[code]

I also tried with your demo project ltijs-demo-server and ltijs-demo-client, when I go to browser of ltijs-demo-client, it always displayed ```Failed retrieving members! Error: Missing lti key.```.

I tried to call

[2020-10-27 12:37] Cvmcosta commented on #59
Hello!

1) Self hosted canvas has some particularities that we have to account for when registering platforms:

[code]

As you can see, the platform url is always the same while the other endpoints stay the same.

2) ltijs-demo-client is only meant to be used in a LTI context, if opened directly in the browser outside of a LMS it has no access to a `ltik` token, and so it cannot access the ltijs b

[2020-10-27 14:13] shenieee09 commented on #59
Thanks for response, I have changed the function ```lt.registerPlatform``` as your suggestion but when I re-run the lti-demo-server at port 3003 and try to access at http://localhost:3003, it always redirect to http://localhost:3003/nolti. I know it means that the server could not connect to Canvas to retrieve token.

This is my canvas config:

![Screenshot from 2020-10-27 21-11-27](https://user-i

[2020-10-27 14:17] Cvmcosta commented on #59
Can you share with me what the logs say when the error occurs?

[2020-10-27 14:29] shenieee09 commented on #59
[code]

This is the logs say when I access http://localhost:3003 on browser.

[2020-10-27 14:46] Cvmcosta commented on #59
I noticed Canvas is not even sending a request to the login endpoint, did you by any chance at some point registered this developer key with a login endpoint like `http://localhost:3003`? Or maybe no login endpoint at all? Because it would seem that the login request is being sent to the `/` route instead of `/login`.

I asked about setting the URL incorrectly because in Canvas, you need to delete

[2020-10-27 15:00] shenieee09 commented on #59
Ohhh, maybe someone in my team use this developer key and register with wrong login endpoint. I will create another developer key and try again. btw, what do you mean about delete the Apps? For example, now I am trying your lti-demo-server, so I have to delete the this app and create a new one?

[2020-10-27 15:22] Cvmcosta commented on #59
Delete the App in canvas. The developer key is used to create an App inside canvas related to that key. You have to delete the App and then create a new one.

[2020-10-27 15:38] shenieee09 commented on #59
Yes, I deleted and re-create a new app as the below image, I also created a new developers key for this app.

![Screenshot from 2020-10-27 22-32-55](https://user-images.githubusercontent.com/45779362/97324557-8b8e6400-18a4-11eb-9071-22cc418991c5.png)
New developer key

![Screenshot from 2020-10-27 22-33-07](https://user-images.githubusercontent.com/45779362/97324601-98ab5300-18a4-11eb-8cf3-e53cbf9

[2020-10-27 15:40] Cvmcosta commented on #59
How exactly are you using the LTI app? In which placement?

[2020-10-27 15:44] shenieee09 commented on #59
I go to External apps in settings a Course and create a new one based on client_id of developer key. Am I wrong?

btw, I am a newbie on working with LTI. Sorry if it's my mistake.

[2020-10-27 15:46] Cvmcosta commented on #59
You are creating the App correctly, I mean how are you using it? As an assignment? Global navigation?

[2020-10-27 15:48] Cvmcosta commented on #59
Do you mind having a short meet call? It would be better if i could see how you are using the app on Canvas and walk you through how to set it up. (https://meet.google.com/swv-ymvr-zjk)

[2020-10-27 16:04] Cvmcosta commented on #59
Just to give closure to this issue in case anyone finds this: The problem was in the placement of the LTI tool, the configurations were all ok.

[2020-10-27 16:04] #59 closed

[2020-10-27 16:04] shenieee09 commented on #59
I will closed this issue, @Cvmcosta fully supported me to solve this. Again, thank you very much!

[2020-10-27 16:05] Cvmcosta commented on #59
My pleasure, feel free to contact me if you have any more doubts: cvmcosta@gmail.com

[2020-10-28 15:27] GreenOn opened #60 "Question on Deeplinking Request"
Hi, I am confused on this Deep Linking Request process. Here's what I am trying to:

1. I am in Canvas trying to create an assignment.
2. I selected the submission type as "External Tool".
Here's a screenshot for this: [https://www.screencast.com/t/MAL2cgpK](https://www.screencast.com/t/MAL2cgpK)
3. Now, I am confused on when EXACTLY Canvas calls the LTI deep launch.
4. You have it in your docs th

[2020-10-28 19:01] GreenOn commented on #60
In other words, I am wondering when exactly the `onDeepLinking` event gets called from Canvas? So far all the selection links are going to the same endpoint.

[2020-10-28 23:06] Cvmcosta commented on #60
Hello! Deep linking is just another type of launch, that also receives an id token, the only difference from the regular launch is that the messageType field of the idtoken is different representing that that is a deep linking launch. Ltijs checks that field and then redirects to the correct callback (onConnect or onDeepLinking).

[2020-10-29 20:08] #60 closed

[2020-10-29 20:08] Cvmcosta commented on #60
I'll be closing this for now.

[2020-10-29 20:23] GreenOn commented on #60
Sure. I finally figured it out. It's a mistake on my part that I forgot to select "Assignment Selection" for the placements and there is a Deeplinking option in there. So, if we don't do these, canvas won't trigger the deep linking. Finally, got the onDeepLinking to work. On to the next one :-). Thanks a lot!

[2020-10-29 20:29] GreenOn opened #61 "Where do we input Deployment id?"
Almost all the platforms give us deployment id;s. When we register a platform, don't we need to add the deployment id? I don't see in the platform class.Is it something tool needs to take care of it on its own?

[2020-10-29 20:33] Cvmcosta commented on #61
Deployment Id changes nothing on the platform registration. It is technically supposed to be used for multi tenancy, when a single tool registration is used across multiple instances of Blackboard, for instance.

Since the information ltijs stores (URL, clientID, endpoints) does not change between a single tool's deployments it does not need to keep track of the deployment ID.

[2020-10-29 20:45] GreenOn commented on #61
I see. We are thinking it can be used to identify different departments (accounts) within a University who made separate purchases but they all use the same platform. For now, we are saving the deployement id on our database.

[2020-10-29 20:48] #61 closed

[2020-10-29 21:16] GreenOn opened #62 "Possibility of selecting multiple resources with deeplinking"
Hi,
So far we have been planning to implement our tool UI to select only one resource at a time. Reading LTIJS docs, we understand that some platforms maynot allow the tools to select more than one.
Given all of this, we are seeing some impelmentations like shown in this video [https://www.youtube.com/watch?v=zBbN41fyIlA](https://www.youtube.com/watch?v=zBbN41fyIlA) where they manage to send more

[2020-10-29 23:37] Cvmcosta commented on #62
Seeing the video i think they are just using deep linking regularly, i believe that Canvas accepts more than one resource at a time.

Can you tell what exactly do you think they are doing that is misrepresented in the ltijs docs? Hopefully i can improve them.

Thanks!

[2020-10-29 23:49] GreenOn commented on #62
No, ltijs docs match with what Canvas is saying in [their docs](https://canvas.instructure.com/doc/api/file.link_selection_placement.html) as well on the deeplinking resource limitation.
I read it in another community blog that canvas there is a parameter `(multiple_resources)` platforms send to tool. It is a boolean flag and Canvas sets this to false.
Now on the above implementation shown in the

[2020-10-29 23:56] Cvmcosta commented on #62
Aaah, it would make sense that they're using the Canvas API. Please let me know if you find more information or have any more doubts.

[2020-10-29 23:56] #62 closed

[2020-10-30 15:32] GreenOn opened #63 "Invalid session cookies on prod environment"
Hi,
We are not completely sure if this is a ltijs issue, but we tried everything we can and not able to get this working.

Here's our setup for our prod environment:
[code]
Now, when we do a fetch request for the `/info` route like this...
[code]
LTIJS is unable to find the session cookies.
Any idea on what we are not doing right here? I thought setting the `credentials` to `same-origin` should au

[2020-10-30 15:39] Cvmcosta commented on #63
Hello, the issue is probably in the cookie configuration, i see you set the cookie as `secure: true` but not `sameSite: 'None'`, some browsers will not allow cross domain cookies to be set without both `secure: true` and `sameSite: 'None'`.

[2020-10-30 15:45] GreenOn commented on #63
Thanks. Let me switch it and give it a shot.

[2020-10-30 15:54] GreenOn commented on #63
Hmm.. still no luck. I read it somewhere that if the cookie has HTTPonly checked, it is not visible to send it to pass it another browser. Here's the cookie after the changes: https://prnt.sc/va7mzt

[2020-10-30 15:56] Cvmcosta commented on #63
Have you tried changing `credentials: "same-origin"` to `credentials: "include"` and add `mode: "cors"` to your request's options?

[2020-10-30 16:19] GreenOn commented on #63
That makes sense. Added `mode: 'cors' and credentials: 'include'`. No luck yet. I may have to explore more headers like `cache`.

[2020-10-30 16:25] Cvmcosta commented on #63
I assume that if you turn devMode to `true` everything works well, right? If so, you should probably check the cookies tab in the specific requests in the chrome network inspector, maybe that will give you a better idea of what's not working.

![Screenshot from 2020-10-30 13-25-00](https://user-images.githubusercontent.com/13905368/97731005-60c62a80-1ab3-11eb-91e4-9911fa9cd2b9.png)

[2020-10-30 16:27] GreenOn commented on #63
Yes, if I set `devMode` to `true` all good since it bypasses the check.

[2020-10-30 16:32] Cvmcosta commented on #63
If you can't find the issue, i am available tomorrow if you want to have a quick chat on google meet to try and find the source of the problem. Or, if you can, you could create a student account for me on your test LMS just so i can try to inspect the network requests.

[2020-10-30 16:34] GreenOn commented on #63
Thanks a lot. I will spend more time exploring this and let you know. I think the issue may be with the cors issue. These are always tricky to find.

[2020-10-30 16:34] Cvmcosta commented on #63
Okay! Glad to help!

[2020-10-30 18:20] GreenOn commented on #63
Issue could be on the express server receiving this request. [Express docs](https://expressjs.com/en/resources/middleware/cors.html) says the response header should set `Access-Control-Allow-Credentials` to `true`.
These are the fetch API docs: https://prnt.sc/vaak8v

[2020-10-30 18:52] Cvmcosta commented on #63
Can you check if the cookies are being set in the application inspector of the browser? This way we can identify if the issue is setting the cookies or passing them back. And both the server and client are on the same domain, correct? (Even if in different subdomains)

[2020-10-30 18:59] GreenOn commented on #63
I am able to see the session cookies in the browser cookies. These are correctly set from the launch.
Issue is sending them back with the fetch GET request.
Yes, all use the same domain with separate subdomains.

[2020-10-30 19:23] Cvmcosta commented on #63
Are the cookies visible on the tabs of both subdomains on the application inspector?
![Screenshot from 2020-10-30 16-22-20](https://user-images.githubusercontent.com/13905368/97748387-2e74f700-1acc-11eb-96a1-79ecfda348ce.png)

[2020-10-30 19:45] GreenOn commented on #63
Yes.
Here's the cookies for our ltijs server: https://prnt.sc/vac3p0
And here's the cookies on the Tool that is making the GET request: https://prnt.sc/vac5l0.
The LTI session cookie is shared correctly on all the URL's that use the same origin.

[2020-10-30 21:29] Cvmcosta commented on #63
Since everything is being set correctly and both domains have access to the cookie, the issue can only be on the request itself. Can you show me the ltijs logs when the error occurs?

[2020-10-30 22:01] GreenOn commented on #63
Sure. Here it is: https://prnt.sc/vaern6

[2020-10-30 22:29] GreenOn commented on #63
I will try a different API to do the get request and see if it works. I've been trying with fetch. I don't know if it makes a difference but worth a shot.

[2020-10-31 00:49] Cvmcosta commented on #63
Okay, let me know how it goes. I would suggest using `ky`, that's the library used in the demo client.

[2020-10-31 05:13] GreenOn commented on #63
Somehow `ky` is not working with the setup we have. I did try passing `Cookie:` manually as part of the `headers` and it worked.
Ltijs should work with fetch. It's the one of the most dependendable api. My guess there's still something on the express side that is not right.

[2020-10-31 21:39] Cvmcosta commented on #63
For anyone experiencing a similar issue, the problem was that the ltijs route was being called from a backend server without access to the cookies set on the client-side application.

[2020-10-31 21:39] #63 closed

[2020-11-13 11:52] nmtoan251998 opened #64 "Error retrieving NameAndRoles"
**Describe the bug**
I'm trying to retrieve data in class `NamesAndRoles` - function `getMembers` and get the error `HTTPError: Response code 500 (Internal Server Error)`

I have logged the data `platform` from this line

[code]

**NameAndRolesConsumer**
[code]

**Expected behavior**
The expected response will be look like the provided response in the documentation in [namesandroles](https://cvmco

[2020-11-13 12:07] nmtoan251998 commented on #64
Additionally, these are my `token` and `context` values from `res.locals` respectively
[code]

[2020-11-13 12:08] Cvmcosta commented on #64
Hello, can you show me your package.json so i can confirm the ltijs version (1.3 is way too old).

The error log you showed implies that the error is coming from Canvas, not Ltijs. Can you walk me through the flow of use up until the names and roles call?

[2020-11-13 12:35] nmtoan251998 commented on #64
[code]

[2020-11-13 12:36] nmtoan251998 commented on #64
Hmm you may right, when i tried to access the log from my canvas, it responses an error, not data

[2020-11-13 12:49] Cvmcosta commented on #64
How is your Canvas installed? Manually or docker? Some docker images don't work well with LTI (Bitnami).

[2020-11-13 12:59] nmtoan251998 commented on #64
I installed Canvas manually. Basically I have not made any modification to the source code from its open source version from this [repo](https://github.com/instructure/canvas-lms)

[2020-11-13 13:36] Cvmcosta commented on #64
Did you do a production installation? More specifically, did you do the Dynamic Settings installation step?

[2020-11-16 01:11] nmtoan251998 commented on #64
There may be a misconfiguration for my Canvas project, thank you for the helpful guidance!

[2020-11-16 01:12] #64 closed

[2020-11-20 20:27] bennettyardley opened #65 "lti.Grade.submitScore() Error"
**Describe the bug**
When I try to update a line item using the Grade.submitScore() function, I get an error, it appears that the score object is not being created properly or I am missing fields.

[code]

**Expected behavior**
Update the given line item with the provided grade.

**Provider logs**
[code]

**Ltijs version**
 - Current

**NodeJS version**
 - 10.19.0

**Platform used**
 - Moodle

[2020-11-20 20:41] Cvmcosta commented on #65
Hello! The `activityProgress`, and `gradingProgress` fields are required in the grade object:

[code]

It also helps if you pass the `scoreMaximum` field (If you don't pass it, ltijs needs to make a request to the lineitems endpoint to retrieve the value) :

[code]

[2020-11-20 20:47] bennettyardley commented on #65
Thank you I was missing those fields!

[2020-11-20 20:47] #65 closed

[2020-11-20 20:53] Cvmcosta commented on #65
My pleasure! I would also like to state that i am working on the complete Grades Service documentation. I know it's long overdue but this Service is by far the biggest and i didn't have much time lately to focus on documenting it (specially since i was focused on adding new methods to make it's usage more straight forward and flexible).

[2020-11-25 18:22] zoranpopovic opened #66 "moodle request on /keys route fails: upgrade required"
**Describe the bug**
when using ltijs-demo-server connecting to moodle server, ltijs provider is reachable upon setup, but neither grade nor class users action fails.  When either grade is submitted, or roster is requested through demo-server frontend, Moodle fails on seemingly getting to ltijs jwks route, and then fails to parse the KeySet because it's null.  Here are the moodle debug reports:
[c

[2020-11-25 18:31] Cvmcosta commented on #66
Hello! Can you tell me how your Platform and Tool are being hosted? If you are running your Tool locally (localhost) it needs to be accessible from your Platform.

I see that you are using Bitnami Moodle, if it's running in a docker container, requests to the keyset endpoint will not work. Moodle will try to call, for example, `http://localhost:3000/keys`, and the localhost will not be accessible

[2020-11-25 18:49] zoranpopovic commented on #66
Both are hosted in the same kubernetes cluster.  Istio handles directing traffic from public addresses (e.g. moodle.example.com and ltijs.examle.com) down to specific ports of the containers for each.  in the moodle logs above you can see that it's trying to reach `file_get_contents(https://ltijs.math.enlearn.org/keys)` so it is asking for keys at the right place.

[2020-11-25 18:51] Cvmcosta commented on #66
Can you try to reach the keys endpoint from the browser and see if it returns the keys correctly?

[2020-11-25 18:52] zoranpopovic commented on #66
moodle is setup via a bitnami helm chart,

[2020-11-26 00:43] zoranpopovic commented on #66
They return keys without a problem.

[2020-11-26 01:13] Cvmcosta commented on #66
If the endpoint is returning the keys correctly then the issue is with the communication between Platform and Tool. Your Platform is not capable of reaching your Tool.

The Keyset endpoint does not require any sort of input or authorization, if it is working correctly from the browser then the only possible issue is an inability to reach the endpoint.

I was not familiar with the `HTTP/1.1 426 Upg

[2020-11-26 06:26] zoranpopovic commented on #66
Thanks for the help.  I fixed the issue, but just in case someone else is stuck on something similar, moodle gets the keys with a php call `file_get_contents(https://ltijs.example.com/keys)`, which is some archaic code that makes a http/1.0 call.  Since my ltijs instance was running behind istio which by default does not allow this deprecated protocol, it just rejected it before getting to ltijs,

[2020-11-26 06:26] #66 closed

[2020-11-26 22:13] peaches1066 opened #67 "ios prevent cross site tracking"
**Describe the bug**
I am connecting to LTIJS on my home server domain ****.info via d2l Brightspace  on a ***.com
This is working fine on windows PC with chrome /firefox.

However when connecting via the same link on iPad the current session cookie causes the Safari cross site tracking to block the site loading. If I turn this off in the Ipad then it loads as expected.

**Expected behavior**
Idea

[2020-11-27 07:25] peaches1066 commented on #67
Sorry forgot to add this is when the link is running in the iFrame and not set to open in an external window.

[2020-11-28 23:10] Cvmcosta commented on #67
Hello!

Can you tell me what are the cookie options you are using? And is your domain working with https or http? Safari can be very restrictive, usually the only way it works is if the cookies are set with `secure: true` and `sameSite: 'None'` and your site working via https.

[code]

The version of Ltijs installed on the demo server is a bit outdated, but if you choose to update it to the newest

[2020-11-29 09:17] peaches1066 commented on #67
Hi Thanks for responding

So I have changed my code to match the ltiaas. the cookie settings I was using are commented out.
I have updated to version 5.5.0.
Both the brightspace and the lti demo code are https.

unfortunately the iPad with the link in the iFrame is not working.
As this is not an issue as such with your code please do not spend a lot of time on this issue and thank you for the work

[2020-11-29 16:08] Cvmcosta commented on #67
Hello again. Can you start ltijs with `devMode: true` just so we can be sure that the issue is not related to the library. If devMode: true works, then the issue is really the Safari cors policy and there is not much i can do.

You can work with devMode enabled if it works, the only difference is that it does not validate the login state cookie, which is part of the LTI specification, but apart fr

[2020-11-29 16:31] peaches1066 commented on #67
Hi so I changed the code to

lti.setup(process.env.LTI_KEY,
  {
  url: 'mongodb://' + process.env.DB_HOST + '/' + process.env.DB_NAME + '?authSource=admin',
  connection: { user: process.env.DB_USER, pass: process.env.DB_PASS }
  }, {
  staticPath: path.join(__dirname, './public'), // Path to static files
  },{
  //cookies: {
  // secure: true, // Set secure to true if the testing platform is in a

[2020-11-30 21:02] Cvmcosta commented on #67
I am sorry, it appears that the cors policies are even more restrictive than i though. I'll close this issue for now, i'm thinking of implementing support for a possible workaround in the future since i've seen some developers using popups to set the cookies without going through cors.

[2020-11-30 21:02] #67 closed

[2020-12-06 18:04] scalebig opened #68 "Customized Response for Initial Login Route /login. feat: Customizable error handling."
**Is your feature request related to a problem? Please describe.**
We are looking to use this as a framework for multiple platforms (multiple universities - primary Canvas and Blackboard) to register with our Tool. While registration should be  handled via dynamic registration OR out-of-band with the university via a custom setup page on our end, university admins and instructors will miss steps a

[2020-12-06 18:08] scalebig commented on #68
BTW - great job from I can see so far! If we integrate this, it will be used by our product that serves over over 50K students currently :)

[2020-12-07 23:46] Cvmcosta commented on #68
Hello! I am preparing a couple of features to be released (hopefully) by the end of this week. I really like this idea and depending on the complexity i can try to add it to the list of features in this release. I was actually already planning a more robust error handling strategy so this is even more reason to get to work on this.

I am glad you are liking the project, feel free to contact me on

[2020-12-11 22:33] Cvmcosta commented on #68
Hello @scalebig! I just released a version of Ltijs with the new [onUnregisteredPlatform](https://cvmcosta.me/ltijs/#/provider?id=onunregisteredplatform) method. Please let me know if this solves your issues.

[2020-12-11 22:41] scalebig commented on #68
@Cvmcosta this looks like a great approach! we will give it a shot. Thanks again for digging into that!

[2020-12-11 23:01] Cvmcosta commented on #68
My pleasure! I will be closing this issue for now, fell free to reopen it if something goes wrong. Thanks!

[2020-12-11 23:01] #68 closed

[2020-12-14 16:05] ChiefGnome opened #69 "Selfhosted Canvas reports "Invalid redirect_uri""
I can register my tool with Moodle, but if I try to register it with my self hosted canvas I get the following error message:

```while(1);{"status":"bad_request","message":"Invalid redirect_uri","error_report_id":46}```

The target link URL has been added to the Canvas developer key.

The debug log shows the request from `canvas.instructure.com`, but nothing else.

[code]

[2020-12-14 21:26] Cvmcosta commented on #69
Hello! Did you set your application URL as a redirect URL in canvas? You should set `https://xxxxxxxxxxxxxxx/lti` as a redirect URL.

[2020-12-15 10:47] ChiefGnome commented on #69
Hello! Thank you for the fast reply!
I have added the correct redirect URI and made some other changes, I guess now I am one step closer... Canvas now reports:
```while(1);{"errors":[{"message":"An error occurred.","error_code":"internal_server_error"}],"error_report_id":90}```

[2020-12-15 11:31] Cvmcosta commented on #69
Ahh yes, this error is common on self hosted Canvas instances, it is often caused by a misconfiguration during Canvas installation.

How did you install Canvas? You should consider a few things:

- Bitnami Canvas does not support LTI.
- If you manually installed Canvas, make sure that you configured and are using Redis caching.
- If you manually installed Canvas, make sure that you configured the

[2020-12-15 12:26] ChiefGnome commented on #69
I use Bitnami Canvas, so this explains it. Thank you!
What would be the easiest way to get canvas running, to just test the LTI connection?

[2020-12-15 17:52] Cvmcosta commented on #69
I believe that going through the Production Installation of Canvas might be the most reliable way. Have in mind that you need to do both the Cache configuration and Dynamic settings configuration in order for LTI to work properly.

[2020-12-16 02:40] ntngoc96 opened #70 "Canvas reports "Page Error""
I'm trying to link LTI server to Canvas system. It works fine with the Canvas over HTTP . But when I setup Canvas over HTTPS, it doesn't work (return 500).I also try with your lti-demo-server repo but got the same error. Is there something I missed when configured?

**Screenshots**
![image](https://user-images.githubusercontent.com/41576363/102295256-95b41100-3f7d-11eb-909a-3bb38dfa2dcf.png)
![ima

[2020-12-16 12:46] Cvmcosta commented on #70
Hello!

How is your canvas instance deployed? Usually 500 errors on Canvas are an installation issue.
Apart from that, your platform registration looks ok,  but shouldn't your URL be `https://canvas.instructure.com`? As far as i know Canvas uses multi tenancy. But since you said the LTI launch was working before through Http that shouldn't be the issue.

Since this is a 500 error it is likely an i

[2020-12-17 02:34] ntngoc96 commented on #70
Thank you for reply!

**The canvas logs say:**
ActiveModel::ValidationError (Validation failed: Iss can't be blank): /home/app/vendor/bundle/ruby/2.6.0/gems/activemodel-5.2.4.4/lib/active_model/validations.rb:414:inraise_validation_error'
/home/app/vendor/bundle/ruby/2.6.0/gems/activemodel-5.2.4.4/lib/active_model/validations.rb:385:in validate!' /home/app/lib/lti/messages/jwt_message.rb:57:in gen

[2020-12-18 09:12] ntngoc96 commented on #70
I found the issue is just because a miss configuration in `security.yml`
It's fixed now.

[2020-12-18 09:12] #70 closed

[2020-12-20 23:14] Cvmcosta commented on #69
I'll be closing this issue for now since the initial problem was identified and it is not related to Ltijs.

[2020-12-20 23:14] #69 closed

[2020-12-28 15:02] GTMtremolo commented on #69
Hi @Cvmcosta , can you send a config example for me, I have set config but my canvas still log error:
{"message":"An error occurred.","error_code":"internal_server_error"}

[2020-12-28 15:07] Cvmcosta commented on #69
This error still indicates issues with the Canvas Installation. How is your Canvas set up?

[2020-12-28 15:27] GTMtremolo commented on #69
I install it from source.

This is dynamic_settings.yml file

production:
  # tree
  config:
    # service
    canvas:
      # environment
      canvas:
        encryption-secret: "astringthatisactually32byteslong"
        signing-secret: "astringthatisactually32byteslong"
      datadog-rum:
        application_id: "27627d1e-8a4f-4645-b390-bb396fc83c81"
        client_token: "a1b2c3d4e5f6g7h8i9j0k

[2020-12-29 02:58] GTMtremolo commented on #69
Hi @Cvmcosta, I have fixed this by turn on Redis cache. Thank you for your support

[2020-12-29 07:54] GTMtremolo opened #71 "Error autocreate line items in canvas"
**Describe the bug**
When I submit the grade server show an error:

provider:gradeService {
   scoreMaximum: 100,
   label: 'Grade',
   tag: 'grade',
   lresourceLinkId: '58d62d469b01f7668d89eb122134a968afee5975'
 }
 Response code 404 (Not Found)

I don't know why

[2020-12-29 09:04] #71 closed

[2020-12-29 12:37] Cvmcosta commented on #71
Hello, was this issue resolved?

[2020-12-29 13:44] GTMtremolo commented on #64
hello @Cvmcosta , I call menthod getMembers but the member response don't have email and name of user.
This is my response

{
 id: 'https://lms-dev.zhost.com.vn/api/lti/courses/1/names_and_roles',
 context: {
     id: '58d62d469b01f7668d89eb122134a968afee5975',
     label: 'test',
     title: 'test'
   },
   members: [
     {
       status: 'Active',
       user_id: 'e8637b4d-a821-4040-9c92-5c6f45

[2020-12-29 13:53] Cvmcosta commented on #64
Hello @GTMtremolo, that depends on the LMS you are using. On Moodle you have to configure the privacy settings in the Tool registration.

[2020-12-29 15:05] GTMtremolo commented on #71
Yes, thank you for your response

[2020-12-29 15:08] GTMtremolo commented on #64
@Cvmcosta  Thank you, it work

[2020-12-30 03:28] ntngoc96 opened #72 "How to get id user from encrypted user in idToken"
**Describe the bug**
I'm trying to retrieve id user from token of lti.onConnect function. However, the token only returns the user with an encrypted value.
[code]
_Response_
[code]
**Expected behavior**
The expected response will be look like the provided response in the documentation in idToken
[code]
**Ltijs version**

Version 1.3 (maybe...) i got this information form package.json file
**NodeJS

[2020-12-30 03:29] ntngoc96 commented on #72
Additional, there is my package.json file
[code]

[2020-12-30 03:33] Cvmcosta commented on #72
Hello @ntngoc96! Ltijs does not control the value on this variable, it simply retrieves the value from the id token returned by the LMS. Are you sure that this is not a valid User ID in your Canvas instance?

If you have any doubts you can just use the network tab of chrome to catch the actual JWT sent by canvas and decode it on [jwt.io](https://jwt.io/).

[2020-12-30 03:38] Cvmcosta commented on #72
I ran some tests and it seems that that is the actual User ID on Canvas, they are just different that other LMSs that have a simple numeric ID.

[2020-12-30 04:06] ntngoc96 commented on #72
Thank you for support!! I also test it with jwt.io, maybe the problem is canvas encrypt data before send to Ltijs. Do you have any solution to convert from encrypted data to raw data??

[2020-12-30 11:27] Cvmcosta commented on #72
Hello @ntngoc96. I did some research and found out that this User ID is not encrypted, it is actually a different User ID used specifically in LTI launches due to the global nature of LTI in Canvas. Many Canvas instances can share the same Tool registration, so they need to assign a special globally unique ID for every User.

I the forum someone found [a workaround that might give you the local Us

[2020-12-31 07:02] ntngoc96 commented on #72
Hi @Cvmcosta thanks for your help. I found the solution base on your idea.
1. Go to developer key -> Edit the key -> Additional Setting -> **Custom Fields** -> Then add the variables we want to get in platformContext of Ltijs token ( Get variables references via this link: [https://github.com/instructure/canvas-lms/blob/master/doc/api/tools_variable_substitutions.md](https://github.com/instructure

[2020-12-31 07:02] #72 closed

[2020-12-31 12:58] Cvmcosta commented on #72
Great! Happy to help!

[2021-01-06 16:23] ChiefGnome opened #73 "Blackboard: The specified object was not found."
I have the integration for blackboard (I am using the dev AMI) running as "System" placement, but it always fails, if I try to run it in a course. The message is

[code]

Nothing is sent to my server. Even when I run it with `DEBUG=provider:* npm start`. So this most likely a blackboard issue, but as I guess you my have and idea, how I can debug this.

[2021-01-06 16:39] ChiefGnome commented on #73
I have now created a new course... and all of a sudden the tool works. So this was clearly a blackboard issue. Sorry for confusion.

[2021-01-06 16:39] #73 closed

[2021-01-11 18:29] NashIlli opened #74 "Firebase Firestore as DB"
Hi!

I noticed that this package previously had support for Firebase working with the plugin ltijs-firestore.

Is it possible now? Anyone that uses ltijs with Firebase? Is there any example?

Thanks in advance!

[2021-01-11 19:16] Cvmcosta commented on #74
Hello, there is a firestore database plugin but sadly it is quite outdated right now and i don't really have the expertise (or the time) to update it right now.

[2021-01-11 19:18] NashIlli commented on #74
Thanks! I will check on it and try to update!

[2021-01-11 19:20] Cvmcosta commented on #74
Great! Please follow the same structure (methods and parameters) as the standard database class.

[2021-01-12 15:26] miguelhughes opened #75 "How does this tool compare to the official php library?"
Hi! congratulations on this project, it's a huge help for folks trying to add lti support and to the education community as a whole.
I'm working on adding lti support to an existing tool. I was planning on using https://github.com/IMSGlobal/lti-1-3-php-library as our tool is written on php. Would you say using ltijs would be easier, and also easier to maintain? I admit I haven't done all my homewo

[2021-01-12 16:02] Cvmcosta commented on #75
Hello! Thanks for the interest in the project! I believe that using Ltijs as a microservice to handle all the LTI interactions might be simpler than implementing the IMS PHP Library, the way it is structured you can have the LTI Core launch setup in under 20 minutes.
Ltijs also supports the newest Dynamic Registration service, not yet supported by any other LTI library.

And if you need further as

[2021-01-13 13:05] ChiefGnome opened #76 "Cookieless mode"
While testing, I found out that a lot of people block third-party cookies, and also Chrome plans to get rid of them.

I suggest a switch to run the server in a mode where it doesn't depend on cookies or sessionStorage (as this is also blocked). Instead, it should just use query parameters or similar safe ways to keep the state.
As this already works in 'devMode', there should be a simple solution.

[2021-01-13 14:26] Cvmcosta commented on #76
Hello! There is already a mode in place that handles authentication using only the `ltik` token. Just use `ltiaas: true` in the options and it should work. The only cookie still required is a state cookie set at the start of the login flow and deleted shortly after, this cookie is required by the LTI 1.3 spec to prevent XSRF vulnerabilities, however, i haven't experienced issued while setting it.

[2021-01-13 15:23] ChiefGnome commented on #76
Thank you for the quick answer. Unfortunately, this doesn't solve the problem. I enabled "Block third-party cookies" in Chrome with a hosted canvas instance, and I get the infamous ```{"status":401,"error":"Unauthorized","details":{"description":"Error validating ltik or IdToken","message":"ISS_CLAIM_DOES_NOT_MATCH"}}``` error.
In devMode it still works.

[2021-01-13 15:35] Cvmcosta commented on #76
I see, i can't really remove this cookie since i need it to be compliant with the IMS Specification and deal with vulnerabilities. What i can do is add the devMode warning to the set of strings controlled by the `silent` deployment option, which would suppress the warning.

[2021-01-14 10:05] ChiefGnome commented on #76
Ok, I see.

Would it be possible to create a handler like ```onCookieMissing``` where I can give instructions, instead of the ```ISS_CLAIM_DOES_NOT_MATCH``` error? Or even better, where I can have a link to open the page as a separate tab, if cookies are blocked?

[2021-01-14 11:13] ChiefGnome commented on #76
Out of curiosity, I quickly checked the IMS LTI specs and security specs for the word "cookie" and I could not find one instance, where it is mentioned. So I guess there should be another way to validate the request, that doesn't rely on cookies.

I am just worried, that all major browsers will block them soon.

[2021-01-14 11:58] Cvmcosta commented on #76
The [IMS Security Framework](https://www.imsglobal.org/spec/security/v1p0/) mentions the `state` parameter from the OpenID Connect specification as a mitigation for CSRF attacks. The `state` must be an opaque string used to ensure that request and response originated in the same browser.

In the LTI context, the only way i can be sure the parameter will be returned is by setting a cookie, or at le

[2021-01-14 12:12] Cvmcosta commented on #76
This is a good idea, i'll try to look into it during this weekend, thanks!

[2021-01-14 15:15] ChiefGnome commented on #76
Ok, I understand. This may be hard, as also localStorage/sessionStorage is blocked, if you block third party cookies. I am not security expert, so I have no idea if there is another way to keep the state around. Thank you very much for looking into the work around with the "CookieMissing" handler!

[2021-01-15 12:37] miguelhughes commented on #75
Thank you for your quick answer, that sounds very promising.

[2021-01-15 12:37] #75 closed

[2021-01-15 12:49] miguelhughes opened #77 "Could our tool be added to different platforms automatically?"
I was reading #36 and I was concerned about something
We plan to publicly offer our tool for any education environments to use it. From what I'm reading on that issue, does it mean that every time someone adds our tool to their LMS, we'd need to edit our code to add an additional call to `registerPlatform`?
I'm concerned because this would be far from practical. We'd like it if users could just ad

[2021-01-15 14:46] Cvmcosta commented on #77
Hello! The LTI Spec requires Platforms to be registered on the Tool, this process can be automatic:

- if you create an endpoint that receives the Platform's informations and calls the `lti.registerPlatform` method.
- If you use [Dynamic Registration](https://cvmcosta.me/ltijs/#/dynamicregistration)(Only available in moodle 3.10+).

[2021-01-18 12:47] ChiefGnome commented on #77
How would you do this? I have not found an enpoint, where all the required parameters would be available. It would be really nice, if they where accessible from the ```onUnregisteredPlatform``` callback, as this would be a logical place to do something like this.
I guess you can be smart about the configuration, if you can detect canvas or moodle, as you know the other URLs.

[2021-01-18 13:30] Cvmcosta commented on #77
What i meant is that you could create a public endpoint where you could receive post requests containing the platform information in the body (url, auth endpoint, access token endpoint etc).

Something like this:

[code]

Using `onUnregisteredPlatform` would be possible but there is no reliable way to identify the exact LMS and build the required information.

[2021-01-18 19:18] RaghavReddy opened #78 "Canvas - Failed sending grade to platform! HTTPError: Internal Server Error"
**Describe the bug**
I'm running the [Example Ltijs Server](https://github.com/Cvmcosta/ltijs-demo-server), when I click on "submit grade" I'm getting `Failed sending grade to platform! HTTPError: Internal Server Error`

**Expected behavior**
Post grades to the canvas

**Provider logs**
provider:main Attempting to connect to database +0ms
  provider:database Database connected +0ms
  provider:data

[2021-01-18 19:24] Cvmcosta commented on #78
Hello! I think your issue is that you are running your LTI Provider on localhost:

In order to generate an access token, the Canvas instance has to reach your LTI Provider and retrieve the public key list, this doesn't work if you are running Ltijs on localhost on a different machine.

[2021-01-18 19:56] RaghavReddy commented on #78
Thanks a lot for the quick response! really appreciate it.

[2021-01-18 20:03] #78 closed

[2021-01-19 16:08] ChiefGnome commented on #77
At least Canvas would be easy, as the urls are always the same. I guess for Moodle you can just test the url and look for a certain enpoint.
In any case, if would be more then helpful, if the `onUnregisteredPlatform` had the url, platform id, client id etc. somehow available, to do smart things. Maybe just add them to `res.locals`?  Then the app can try to add a know platform and only as last reso

[2021-01-19 16:20] Cvmcosta commented on #77
At this moment, `onUnregisteredPlatform` receives both request and response objects, do you can have access to the platform issuer and client id like so:

[code]

[2021-01-19 17:13] ChiefGnome commented on #77
Thank you very much. This is very helpful!

[2021-01-20 13:45] miguelhughes commented on #77
Thank you Carlos, I think we can close this as you've answered our questions!

[2021-01-20 14:59] Cvmcosta commented on #77
Great! Happy to help!

[2021-01-20 14:59] #77 closed

[2021-01-23 15:54] Cvmcosta commented on #76
Hello, sorry it took a bit longer that i expected, i didn't have too much time this week.

I decided that it was unnecessary to add a specific handler for the missing cookie.  What i did was remove `invalidtoken` route and make sure that whenever there's an error the [onInvalidToken handler](https://cvmcosta.me/ltijs/#/provider?id=oninvalidtoken) is called right way. You can then retrieve the `res

[2021-01-26 10:17] ChiefGnome commented on #76
This is a great idea! Thank you!
I still think it would be helpful, to have two messages. One for "doesn't match" and one for "cookie completely missing" as those have different causes. With this current system this wouldn't require any additional handlers.

[2021-01-26 12:19] Cvmcosta commented on #76
Hello! Just released a new version `5.6.3` changing the error message to `MISSING_VALIDATION_COOKIE` when the cookie is not present.

Please let me know if it works ok.

[2021-01-26 13:30] ChiefGnome commented on #76
Thank you very much for your work!

It still doesn't solve the initial problem, as it still doesn't work without cookies, but at least I can now present a nice and specific error message.

[2021-01-28 15:05] miguelhughes opened #81 "please help setting up sandbox moodle & local ltijs."
Hi!
I'm trying to get at least something running using sandbox.moodledemo.net hitting my local ltijs.
I've tried using ltijs with minimal changes to index.js and also ltijs-demo-server with the same results.
I'll post the set up and logs using plain ltijs.

***configuration***
index.js:
[code]
to have moodle hit my local server, I'm using ngrok:
`./ngrok http 3000`

Moodle settings:
<img width="94

[2021-01-28 15:09] miguelhughes commented on #81
the way I'm testing is just go to a course, selecting "add an activity or resource". then I select the new tool (ltijs-demo), input a name and click on "save and display"

[2021-01-28 15:19] miguelhughes commented on #81
I've also tested other parameters in the options section:
[code]

ltijs output in this case:
[code]

moodle output:
[code]

Any insights or info?

[2021-01-28 15:24] Cvmcosta commented on #81
Hello, your redirect URI is set to `https://4b9d3b17c5bc.ngrok.io/` on Moodle, But Ltijs redirects to `https://4b9d3b17c5bc.ngrok.io` without the trailing `/`.

Your original options were correct, if you are going through https you should maintain `secure: true` and sameSite: `None`

[2021-02-08 14:20] pushyamig opened #82 "Does ltijs support Canvas LMS?"
Hi, we have a Instructure hosted canvas and this library looks promising for LTI 1.3 spec implementation and LTI advantages services. Just wondering if anybody using this library has a successful integration with Canvas for their tool?

I was reading this [issue](https://github.com/Cvmcosta/ltijs/issues/8) and looks like there are  hiccups integrating with Canvas

[2021-02-08 14:30] Cvmcosta commented on #82
Hello @pushyamig! Yes, Ltijs is working perfectly with Canvas, the old issue is not closed only because other conversations started in it. Now i have more experience working with Canvas and most of the issues people usually encounter are due to hiccups on the Canvas installation (self-hosted) or tool configuration (giving the right permissions and testing on valid users).

Ltijs is being successfu

[2021-02-08 14:38] Cvmcosta commented on #8
@iceekreeam Sorry i completely forgot about this issue and was only reminded of it because it was cited in another one.

I don't know if you are still having this issue, but i think it's worth answeting as it might help someone else. Your final redirect URI should be the same as the root where your app is running, example: `http://localhost:3000`. And the Demo Client is built into the Demo Server,

[2021-02-08 14:40] pushyamig commented on #82
@Cvmcosta Thank you for confirming that.

[2021-02-08 14:40] #82 closed

[2021-02-08 14:42] Cvmcosta commented on #8
I'll be closing this issue since it has now long deviated from the original topic. Any new problems should be reported in a new Issue.

Ltijs integration with Canvas is working perfectly and i've learned a lot about the possible issues over the last couple of months and most of them are due to misconfiguration or other small mistakes. I am working on a FAQ section for Ltijs that will cover most of

[2021-02-08 14:42] #8 closed

[2021-02-08 14:48] iceekreeam commented on #8
@Cvmcosta  Hi sorry as well its been a while. I think the source of my issues was that i was trying to use a production instance of canvas with https with my localhost that was running http. Once i put up the test server on Heroku i did get the two sides communicating. Unfortunately i didn't finish working on this as i didn't have the support of my employer to continue. I can say that i was satisf

[2021-02-10 21:51] ssciolla commented on #35
Hi @Cvmcosta and @paulschwoerer, I'm taking a look at `ltijs` as a possible solution for my organization for an LTI tool integrating with a Canvas LMS instance. We're hoping to use TypeScript with this project, and I found this issue during my investigation. I'm going to pull down the last iteration of version 4 (since I'm guessing that will work with the existing `@types/ltijs`, but it'd be great

[2021-02-11 05:03] Cvmcosta commented on #35
Hello @ssciolla! I really haven't had the time to work on keeping the typings up to date, so i don't know how far off it is from the current state of the project. I'd greatly appreciate if you could take a look and let me know what you think. Between other priorities in the project and my daytime job i haven't had the time to look into it.

That being said, in the meantime, if your company is look

[2021-02-11 15:10] ssciolla commented on #35
Thanks for the extra info, I wasn't aware of `ltiaas`. I work in academia, and I think we're really looking for an open-source solution. I was able to set up Paul's updated typings, so as I experiment and decide whether the package will work for us, I can update you here on whether they are working as expected. The micro-service setup is also something I can consider; thanks for that idea!

[2021-02-11 15:35] Cvmcosta commented on #35
@ssciolla  If you are with an university i could give you free access to the Ltiaas codebase and help you get set up, if you'd like. I am working with a couple of universities since i feel that it helps with the project reach and visibility.

[2021-02-11 20:36] ssciolla commented on #35
@Cvmcosta, let me get a bit more comfortable with the `ltijs` codebase and talk with the team about my findings. We're still very much in the research phase. I appreciate the gesture though, and I will follow up with you if we would like to hear more details.

[2021-02-12 03:41] markvitapoly opened #83 "Submitting Grade Results in 400 (Bad Request)"
**Describe the bug**
1. Setup https://github.com/Cvmcosta/ltijs-demo-server and add to Moodle
2. Click on Grade Services
3. Submit Grade

It seems to error out here:
const accessToken = await platform.platformAccessToken('https://purl.imsglobal.org/spec/lti-ags/scope/lineitem https://purl.imsglobal.org/spec/lti-ags/scope/score');

https://purl.imsglobal.org/spec/lti-ags/scope/lineitem returns 404?

[2021-02-12 04:06] Cvmcosta commented on #83
Hello! Are you hosting both Moodle and LTIJS on localhost? Or both on a VPS? If LTIJS is hosted locally a VPS hosted Moodle can't retrieve Access tokens because moodle will try to reach its own localhost.

[2021-02-12 04:13] markvitapoly commented on #83
LTIJS is local. Moodle is a personal remote server but I also have the same results at https://sandbox.moodledemo.net/

[2021-02-12 04:21] markvitapoly commented on #83
Settings on sandbox.moodledemo.net, url: https://sandbox.moodledemo.net/mod/lti/instructor_edit_tool_type.php?sesskey=IF6rRf1rL2&course=2&action=edit&typeid=1

![image](https://user-images.githubusercontent.com/19272473/107729695-6af8e700-6ca6-11eb-8d97-179266bbce83.png)

Code changes in the index.js of the server:

[code]

[2021-02-12 04:28] Cvmcosta commented on #83
Yes, that is the issue. Moodle is trying to make a call to localhost:3000/keys to validate the access token request. But since it is reaching its own localhost, instead of your machine. You can only test the Services if both are accessible from the web or both are locally hosted.

[2021-02-12 05:46] markvitapoly commented on #83
ok, i moved the server to an external facing VPS and also created some self signed certs for SSL. I have a slightly different issue, it's failing at a similar spot with a different error:

[code]

[2021-02-12 20:36] Cvmcosta commented on #83
That is weird. Did you update the Public Keyset field in the Tool Registration on Moodle? It seems Moodle still ca't find the Keyset  URL.

[2021-02-12 23:16] markvitapoly commented on #83
https://sandbox.moodledemo.net/mod/lti/view.php?id=4&forceview=1

The keyset field is set to https://192.155.87.222:3000/keys  (public for now). I also tried to access the URL and extract the key myself. There are several keys in there, how do I know which one is the right one for manual entry into moodle (rather than using the URL). Is it the keys[n].n parameter?

[2021-02-14 23:47] Cvmcosta commented on #83
Hello! So Moodle was not hitting the /keys endpoint, right?

Regarding the key format. Keyset URLs serve keys in the JWK format. When using a single key instead of a keyset Moodle accepts keys in the RSA format. In ltijs, to get the RSA version of a given platform key you have to do it by code:

[code]

[2021-02-14 23:48] Cvmcosta commented on #83
I'll close this issue since it seems you managed to submit grades and the issue was that Moodle could not reach the `/keys` endpoint to validate the access token request.

[2021-02-14 23:48] #83 closed

[2021-02-17 14:05] Abziz opened #84 "outdated/wrong type declarations"
**Describe the bug**
The type declarations on @types/ltijs are not correct. I guess its for the previous major version.

**Expected behavior**
Types should correspond to the actual code in this library

**Ltijs version**
 - Version 5.6.6

[2021-02-17 19:18] scalebig opened #85 "Add a method to get the complete token for system background functions"
**Is your feature request related to a problem? Please describe.**
Creating line items (usually grade items/assignments) may take some time due to performance of a remote LMS (the platform) and a large number of activities. So we have to queue these tasks up and execute them in the background. However, to create line items we have to pass in the "token" from the request via the `lti.onConnect()` h

[2021-02-17 19:49] Cvmcosta commented on #85
Hello @scalebig!

LTI 1.3 Consumers generate service URLs (for memberships, lineitems and scores) based on the specific context of the launch.

Ltijs stores a `contexttoken` object for each launch context, so in order to retrieve a specific `contexttoken` and the Services URLs in it you would need to know the context identifier for it (built with: platform, Client ID, deployment ID, Course ID, and

[2021-02-17 20:06] scalebig commented on #85
@Cvmcosta - Sounds like we are on the same page. I mistakenly thought the idtoken instance (from DB) was per context (1-to-1). It sounds like its 1-to-many with context. That makes more sense. Thanks for the great and quick response!

As far as the full idtokens having a short TTL, we are going to update them for the respective context in our storage with each new auth call from the instructor/too

[2021-02-17 20:15] Cvmcosta commented on #85
Great! Updating the context with every call is a good idea. Hopefully this works out for you, I've been using a similar solution for a couple of months now for the other project with no issues.

And you are right, LTI 1.3 made the ID Token Service URLs dynamic to make it easier for platforms to implement it but that does cause some inconveniences.

Feel free to contact me if you need any more assi

[2021-02-17 20:15] #85 closed

[2021-02-25 00:15] #81 closed

[2021-02-25 00:20] Cvmcosta commented on #84
Hello @Abziz! I am aware that the typing are incomplete (See #35), i am currently working on some changes to the Ltijs structure and haven't had the chance to work on updating the types.

When i release the new major version i will work on getting the types up to date.

[2021-02-27 09:53] kimon-satan opened #86 "Registered / unregistered platform"
Apologies for posting here as I fear this is probably my error rather than a genuine bug.
I am attempting to register the demo-server running on a remote server with a moodle instance on a separate remote. I've uncommented the "register platform" code and provided appropriate urls and variables from the moodle configuration.

I get the following on startup

`  provider:main Platform already regist

[2021-02-27 14:15] Cvmcosta commented on #86
Hello @kimon-satan!

Your platform URL seems to be incorrect,  I imagine that `http://doc18.odc.gold.ac.uk/moodle` should be `http://doc18.doc.gold.ac.uk/moodle`, right?

Also, on Moodle you can use Public Keyset instead of RSA Key. Change the "Public Key Type" and use the /keys endpoint of Ltijs: `<your_lti_server>/keys`

It is preferred over RSA Keys.

[2021-02-27 15:11] kimon-satan commented on #86
Thanks for the quick response! Whoops, how embarrassing :)

I've fixed that now and I'm one stage forward but still not quite getting it . Sorry

I now get a 401 error on launch

`{"status":401,"error":"Unauthorized","details":{"description":"No Ltik or ID Token found.","message":"NO_LTIK_OR_IDTOKEN_FOUND","bodyReceived":{}}}`

This is the log from the server

`
  provider:main Platform already re

[2021-02-27 19:05] Cvmcosta commented on #86
Hello! i can't see anything wrong with your setup, what is weird is that Moodle did not return any error message. Any error would be displayed in the bodyReceived section of the error object. I imagine this might be something related to the lack of https, but i can't be sure.

Would it be possible for me to have access even as a student to this test Moodle, so i can analyze the network and see if

[2021-02-27 22:50] kimon-satan commented on #86
Okay I've made an account with site admin access for you but is there a way to DM you to share credentials ?
I'll also try tomorrow to sort out certs for both sites so I can try with https

[2021-02-27 22:56] Cvmcosta commented on #86
You can send the credentials to `cvmcosta@gmail.com`. Thanks!

[2021-02-28 10:47] kimon-satan commented on #86
Quick update:

I set up a local version of ltijs server and redirected with NGROK. The result was similar

`  provider:main Platform already registered +24ms
  provider:main Receiving request at path: /login +9s
  provider:main Receiving a login request from: http://doc18.doc.gold.ac.uk/moodle +0ms
  provider:main Redirecting to platform authentication endpoint +4ms
  provider:main Target Link URI

[2021-02-28 11:45] kimon-satan commented on #86
Okay I also tried locally and got the same result too. I wonder if this could be an issue with using moodle 3.10 ? Should I be using an earlier version.

 provider:main Platform already registered +25ms
  provider:main Receiving request at path: /login +6s
  provider:main Receiving a login request from: http://localhost:8888/moodle +1ms
  provider:main Redirecting to platform authentication endpoi

[2021-02-28 12:18] kimon-satan commented on #86
I'm not sure how but I solved it now.

My suspicion was two basic things wrong

1. a forward slash after the server URL in moodle ? (perhaps)
2. you need to be enrolled on the moodle course (site admins have access to all courses so this is confusing)

I can't see anything else that I changed. In any case I have it working locally and remotely. Thanks

[2021-02-28 12:18] #86 closed

[2021-02-28 17:20] Cvmcosta commented on #86
Hello @kimon-satan! Sorry i wasn't able to test the issue yesterday. I am happy you figured it out!

The issue was probably the forward slash, since Moodle lets you launch to applications you're not enrolled in if you are the admin.

[2021-03-05 23:51] YounesBensoudaMourri opened #87 "Issue with NO_LTIK_OR_IDTOKEN_FOUND"
Greetings! I am using a MERN stack and have been trying to connect ltijs to Coursera for a few days now. I have my mongodb running in port 5000 and the frontend is in port 3000. The first issue is `lti.deploy()` has a conflict with port 3000, (I assume that is the default), I can change port, but i am not sure if that is the right thing to do? The other issue is that Coursera asks for a Public Too

[2021-03-06 23:31] Cvmcosta commented on #87
Hello @YounesBensoudaMourri!

1)
Yes you can change the deployment port to whatever works best for you.

2)
You can use the public key endpoint if the Platform supports it: `<url>/keys`. If they don't support it you can retrieve the actual public RSA key by getting the platform and then calling the `platformPublicKey` method:

[code]

3)
If you are receiving the `NO_LTIK_OR_IDTOKEN_FOUND` error wh

[2021-03-09 23:05] YounesBensoudaMourri commented on #87
Thanks @Cvmcosta!

I have implemented it, and i am finally able to see the token when I open the coursera link.
I am still somehow struggling to redirect to the main page (say localhost:3000). After some debugging, I noticed that the callback inside of `lti.onConnect` function is not even invoked.
Is there a specific process I should follow in order to trigger the callback that onConnect is taking

[2021-03-09 23:23] Cvmcosta commented on #87
Hello @YounesBensoudaMourri!

I'd like to start by pointing out that i believe that the launch and auth URLs are switched, i think they should be:

[code]

The nomenclature used by Coursera is a bit different but i believe this might part of the issue.

Regarding the onConnect method, it depends on want to do, if you want to redirect to the `/` route after a successful launch, you can just do:

[c

[2021-03-10 00:00] YounesBensoudaMourri commented on #87
Thanks for the quick response @Cvmcosta!
I just changed the routes and edited my setup function and got the following message when attempting to open the tool from Coursera:
{"status":400,"error":"Bad Request","details":{"message":"UNREGISTERED_PLATFORM"}}
It seems like when i print platform, it gives me an empty object. Perhaps the 'login' entry point is not properly authenticating?
[code]

[2021-03-10 00:24] Cvmcosta commented on #87
This means that the platform is not registered correctly, the rest of the flow is working perfectly. The issue is in the registerPlatform method.

What URLs are you using for it?

[2021-03-10 00:38] YounesBensoudaMourri commented on #87
Oh wow! It worked locally, thank you so much! The issue was in the client id. I will probably deploy it on the real website this week. Thanks a lot @Cvmcosta!

[2021-03-10 00:42] Cvmcosta commented on #87
Great! I am happy it worked!  I'll close this issue for now, feel free to reopen it if you find any other issue.

[2021-03-14 15:15] PanopticaRising commented on #84
I know that the older version's types were submitted to DefinitelyTyped already, but I wanted to chime in that Typescript has support for generating some types from the JSDoc comments, which would make it easier to identify typing changes and update. I forked this codebase and got a set generated, so it wouldn't be hard to PR that in (it's missing mode complex types like the `app: Express` type in

[2021-03-14 20:39] Cvmcosta commented on #84
Thanks for that! I am still working on a new version of Ltijs that refactors a lot of the codebase. Once that is done i will come back to this issue and work on updating the types.

[2021-03-16 09:48] petercornelius-cup opened #88 "Is there an ltiaas github repo?"
Hi, I'm very interested in the ltiaas project. The documentation at https://ltiaas.cvmcosta.com/#/docs?id=installation mentions cloning the litaas repo but I cannot see the Github repo. Is this available? Thanks in advance.

[2021-03-16 12:39] Cvmcosta commented on #88
Hello @petercornelius-cup! Sorry for the confusion, i still need to update that documentation to make things clearer. LTIaaS is not an open source project, it is part of a package i've been selling that includes the LTIaaS System and the consultation on integrating with it + getting the IMS Certification. I mention cloning the repository because i give my clients access to a private GitLab reposit

[2021-03-16 13:52] petercornelius-cup commented on #88
Thanks for the info

[2021-03-25 09:59] markvitapoly opened #89 "/deeplink creation does not create grading entries in gradebook"
**Steps**
Deeplinking does not have an entry on the gradebook.
1. use the example server and client against sandbox.moodle.com
2. enable content-item message and grading services
![image](https://user-images.githubusercontent.com/19272473/112454150-a2cb6380-8d15-11eb-9782-ce3de6bf59b3.png)
3. click on select content, select one of the resources and submit

bug:
while the deeplinked content is adde

[2021-03-25 11:31] Cvmcosta commented on #89
Hello @markvitapoly! This is not a bug, it's a Moodle behaviour, deep linking allows us to create a line item automatically by sending it in the content item. Check [LTI Content Item documentation](https://www.imsglobal.org/node/162911#lti-resource-link) for more information:

[code]

[2021-03-25 11:33] Cvmcosta commented on #89
I do believe that changing the following privacy setting to `Always` might make moodle revert back to creating line items automatically:

![Screenshot from 2021-03-25 08-32-33](https://user-images.githubusercontent.com/13905368/112466546-c22db500-8d44-11eb-89a9-fa1a1c759050.png)

[2021-03-25 11:48] markvitapoly commented on #89
you are awesome! that did the trick. 👍

[2021-03-25 11:52] Cvmcosta commented on #89
Great! Please let me know if you have any more questions.

[2021-03-25 11:52] #89 closed

[2021-03-27 01:42] markvitapoly opened #90 "Support for Multiple Client IDs / Allow All Client IDs from Host"
Is it possible for one instance of ltijs to support multiple platforms and/or client ids at the same time? I think it already does?

I want to accept all LTI tool additions from a particular domain. Every time an external LTI tool is added, it gets a new client id. I am thinking that Provider.js would catch the UNREGISTERED_PLATFORM and then just register it using lti.registerPlatform() after chec

[2021-03-27 05:14] Cvmcosta commented on #90
Hello @markvitapoly ! I don't think i understand your question. With Ltijs you can register as many Platforms as you want with lti.registerPlatform calls and all of them will work with the same instance.

Regarding automatic registration after a UNREGISTERED_PLATFORM error, you can try to assemble the necessary information from the `iss` and `client_id ` query parameters, but you will need to iden

[2021-03-27 05:16] #88 closed

[2021-03-27 05:25] markvitapoly commented on #90
The situation is that instructors do not have access to add a global LTI1.3 tool. They are only able to add it to the course. So for every course, they need to add the tool again and moodle generates a new client id for each addition. I guess I am looking for a way to ignore the clientid and allow all lti tool launches from a domain, say sandbox.moodle.com, regardless of the client id.

[2021-03-27 15:35] Cvmcosta commented on #90
If they are all going to have the same URLs and the only difference is the client ID you can do what you mentioned earlier. Use `onUnregisteredPlatform` to create the Platform registration using the query parameters, then try redirecting back to the same login endpoint passing the same parameters you received, this will hopefully make the auto-login smooth for users.

[2021-03-29 03:28] tuan-nh opened #91 "MISSING_DATABASE_CONFIG error"
Hi,

I've currently developed an external app for my Canvas LMS. This app will directly get data from google analytics API so I don't think it needs a database connection. I decided to remove the database config from your demo, then it outputs the MISSING_DATABASE_CONFIG error. Can you help me to solve this problem? Thanks.

[2021-03-29 11:00] Cvmcosta commented on #91
Hello @tuan-nh, You still need the Database setup to store LTI relevant information, like Platform registrations (The Canvas instances you will be working with), key pairs, access tokens, and the actual LTI flow information you get from Canvas, the ID Tokens.

[2021-03-29 15:03] tuan-nh commented on #91
Hi @Cvmcosta, thank you for your reply. I get it. I also get stuck when creating an external app for my Canvas LMS from localhost. I got the NO_LTIK_OR_IDTOKEN_FOUND error. This is my developer key setting.
<img width="1432" alt="Screen Shot 2021-03-29 at 21 57 34" src="https://user-images.githubusercontent.com/80016833/112856637-32885d80-90da-11eb-83cc-b20d0b18936f.png">
And this is my registerPl

[2021-03-29 16:38] rtgc-w opened #92 "TypeError: platform.platformActive is not a function"
Hi There,

I am encountering a `TypeError: platform.platformActive is not a function` error when launching most requests from an IMS Reference Implementation Platform. Line 112 of `Auth.js` tries to call `platform.platformActive()` but breakpoints show that `platform` is an array of a single element at this point; so it seems like it ought to be `platform[0].platformActive()`?

However, I think th

[2021-03-29 17:26] Cvmcosta commented on #92
Hello @rtgc-w! I think i know what is going on, if i am right this is an issue with the Reference implementation. Basically, to maintain compatibility with older versions, the more recent versions of Ltijs return an array of platforms if no clientId is passed to `getPlatform()`, so my guess is that the reference implementation is failing to pass an clientId.

Can you monitor the network tab during

[2021-03-29 17:41] Cvmcosta commented on #91
Your setup seems correct. Usually this error is presented in an object with some additional information. Can you show the exact error object?

[2021-03-29 17:49] rtgc-w commented on #92
Hi @Cvmcosta, thanks for the reply:

here is the id_token sent on the request that fails:

[code]

let me know if that was the wrong and we need something else.

Thanks again!

[2021-03-29 18:14] Cvmcosta commented on #92
Yes, as i suspected the ID Token sent by this platform has no `aud` claim, that is causing the error. This goes against the [LTI protocol specification](https://www.imsglobal.org/spec/security/v1p0/#id-token):

REQUIRED. Audience(s) for whom this ID Token is intended i.e. the Tool. It MUST contain the OAuth 2.0 client_id of the Tool as an audience value. It MAY also contain identifiers for other a

[2021-03-30 01:56] tuan-nh commented on #91
This is the error log

<img width="696" alt="Screen Shot 2021-03-30 at 08 42 23" src="https://user-images.githubusercontent.com/80016833/112920920-174a3c00-9134-11eb-8dc1-f251db1044b5.png">
<img width="863" alt="Screen Shot 2021-03-30 at 08 45 51" src="https://user-images.githubusercontent.com/80016833/112921136-7445f200-9134-11eb-9935-cac18c5e952a.png">

I set the placement with the default setti

[2021-03-30 02:26] Cvmcosta commented on #91
Hello! I noticed you are receiving a request at /api/lti/authorize right after the login request, what exactly is the flow here?

[2021-03-30 02:34] tuan-nh commented on #91
Sorry, I also don't know why it has that request. I just follow the Quick Start in the Canvas LMS repository. Then, I follow Quick Start in your document.

[2021-03-30 02:41] Cvmcosta commented on #91
Is the `/api/lti/authorize` route created somewhere? Or maybe you put in the Canvas registration at some point? You need to delete and recreate the app in canvas if you make a change to the its developer key.

A couple of questions:

1 - Is your code exactly the same as the quick setup?
2 - Assuming your canvas instance is locally hosted, how did you install it? Did you go through the Dynamic Sett

[2021-03-30 02:56] tuan-nh commented on #91
Thank you for your suggestions, I really appreciate it. I am going to investigate now. Thanks.

[2021-03-30 15:30] rtgc-w commented on #92
That looks like it did it! I think earlier I had removed a client id from the platform details for an unrelated reason and forgot to return it, Though it would have saved me some time if the error was more closely related to what was missing, rather than a type error.

In any case, I greatly appreciate the assistance! And thanks so much for this library, it's been a great help in trying to better

[2021-03-30 15:30] #92 closed

[2021-03-30 15:34] Cvmcosta commented on #92
I completely understand, it was just an unexpected error, i try to assume the LTI spec is being obeyed in some cases, maybe i should try to validate the idtoken more thoroughly.

Thanks!

[2021-04-01 02:31] tuan-nh commented on #91
Hi @Cvmcosta , I figure out why the route /api/lti/authorize appears. I have some mistakes about configuring the port between Canvas LMS instance and LTI app. After fixing it, I get a new problem with authenticity_token. Could you take a look at this again, please? Sorry for this inconvenience.
<img width="901" alt="Screen Shot 2021-04-01 at 09 23 22" src="https://user-images.githubusercontent.com

[2021-04-01 03:00] Cvmcosta commented on #91
This just looks like the launch is expired. Are you trying to resend an old launch in some way? Or is the launch taking too long?

[2021-04-01 03:20] tuan-nh commented on #91
I think I resent the old launch. Could you tell me how I can create the new launch?

[2021-04-01 03:30] Cvmcosta commented on #91
Are you doing something different with the launch? A new launch should be generated whenever you reload an LTI tool on Canvas, for example. This error suggests you are resending an old Canvas login request.

[2021-04-01 03:44] tuan-nh commented on #91
I set the target link URI in Account Navigation the same as the link launch. Do you think it causes the error?
![Screen Shot 2021-04-01 at 10 43 24](https://user-images.githubusercontent.com/80016833/113240592-38975d80-92d7-11eb-83e5-12eed5f75fd5.png)

[2021-04-01 09:43] tuan-nh commented on #91
Hi @Cvmcosta , I have solved this problem. I install the Redis cache and its works. I will close this issue tomorrow. Thanks for your help.

[2021-04-01 11:02] Cvmcosta commented on #91
Ah, so it was a Canvas issue, then. Weird, i encountered issues with Canvas related to the absence of redis before, but never in the form of expired tokens. But it makes sense. Thanks for letting me know.

[2021-04-01 15:31] ssciolla opened #93 "Question: `ltijs` + `webpack-dev-middleware`?"
Hi @Cvmcosta, I hope you're doing well.

Have you ever tried using [`webpack-dev-middleware`](https://github.com/webpack/webpack-dev-middleware) with `ltijs`? I can kind of get it to work using `serverAddon` from the `Provider` options, but it seems to be disrupting the `onConnect` callback, which I think will be an important part of how we use this library. I think there's a conflict in the under

[2021-04-01 17:29] Cvmcosta commented on #93
Hello @ssciolla! I never used `webpack-dev-middleware` before so it would be helpful if you could tell what issues you are having with the `onConnect` callback. Since it is a middleware, are you sure it's correctly passing the connection along to the endpoints after it does what it needs to do?

[2021-04-01 17:34] ssciolla commented on #93
I don't think the onConnect callback is working at all when the Webpack middleware is installed. Whenever I try to log something in the function, I never see any output?

Do you have any general recommendations on how to use a Webpack development set up with ltijs?

[2021-04-01 17:39] Cvmcosta commented on #93
As i said i never tried it before, so i don't really have any specific recommendations. My suggestion would be to make sure the request is reaching the middleware, if it is, the issue is that the middleware is not forwarding the request to the next routes.

[2021-04-02 02:23] #91 closed

[2021-04-05 12:06] markvitapoly opened #94 "openedx supported? 'invalid_request'?"
**Describe the bug**
Is id_token required? I was able to get the LTIJS package working with moodle. I've tried the same code (with different settings) against openex. It seems that the openedx platform doesn't send id_token in the body. It sends something like csrfdmiddlewaretoken. Is there a setting in ltijs that handles that?

**Provider logs**
2021-04-05T10:57:31.596Z provider:main Platform alr

[2021-04-05 12:17] Cvmcosta commented on #94
Hello @markvitapoly. The `id_token` parameter is the central point of the LTI 1.3 protocol so it is required.

Since the body also contained an error field i am assuming something went wrong. I never worked with openedx, are you sure they support LTI 1.3? And if so can you link me to some documentation, i couldn't find it.

[2021-04-05 12:32] markvitapoly commented on #94
It does support LTI 1.3. I do not have admin access to the platform so I can only speak to the lti tool side. I will see if I can spin up my own openedx platform later today and debug a bit.

I was able to find this doc: https://github.com/edx/xblock-lti-consumer

[2021-04-05 13:46] Cvmcosta commented on #94
I am not sure what can be wrong here. Please let me know once you have access to an instance. I need to check the Platform and Tool registrations.

[2021-04-08 03:49] markvitapoly commented on #94
It turns out openedx /token endpoint expects the iat and exp parameters to be ints rather than floats.

This patched worked for me:
Auth.js::
  static async getAccessToken (scopes, platform, ENCRYPTIONKEY, Database) {
    const platformUrl = await platform.platformUrl()
    const clientId = await platform.platformClientId()
    const confjwt = {
      sub: clientId,
      iss: clientId,
      aud:

[2021-04-08 04:19] Cvmcosta commented on #94
What version of Ltijs you are using? Did you add these iat and exp fields or were they already there? In newer versions of Ltijs i moved the responsibility of creating these fields to the `jsonwebtoken` library because creating them manually caused issues on Blackboard.
If you are using an old version of Ltijs could you please update and see if it fixes the issue?

[2021-04-08 05:04] markvitapoly commented on #94
I did a personal fork a couple of months ago.  It looks like that changed happened after I forked. Good news is that it still works. I looked at the library, it seems jsonwebtoken is also chopping off the decimals. Thanks!

[2021-04-08 11:12] Cvmcosta commented on #94
Great! So it works with the new versions of Ltijs, correct? I'll be closing this issue for now, then. Thanks!

[2021-04-08 11:12] #94 closed

[2021-04-08 16:45] junglebarry commented on #76
I think this is a known issue with the LTI spec at present, and the spec will need to change to accommodate third-party-cookie-blocks.

That is to say: third-party-cookie-blockers are a shared problem in the LTI community, and not something this library can (or should) fix alone.

(Great library, by the way!)

[2021-04-09 02:10] Cvmcosta commented on #76
Hello @junglebarry ! You are right. I am an IMS Member and during the LTI roundtable meetings there are a lot of discussions regarding possible fixes to this issue, so far nothing proved to be a good substitute to the state parameter but options are being considered.

We are definitely aware of the issue and as soon as there's a solid solution or workaround i will make sure to bring to the library

[2021-04-09 02:10] #76 closed

[2021-04-09 15:11] vandergav opened #95 ""NO_LTIK_OR_IDTOKEN_FOUND" error using ltijs-demo-server with Moodle as an external tool"
Hi Carlos,

Can I get some help on setting up the ltijs-demo-server as an external tool for Moodle?

I have the ltijs-demo-server running locally on port 8100 with the following console logs on npm start:
![image](https://user-images.githubusercontent.com/46529559/114199442-c808c600-9900-11eb-9c13-620581d171d0.png)
I then configured a Demo tool with the following configurations:
![image](https://u

[2021-04-09 15:15] Cvmcosta commented on #95
Hello @vandergav ! The Initiate login URL on moodle should be `http://localhost:8001/login`. And the redirection URL should be `http://localhost:8001`

[2021-04-09 15:45] vandergav commented on #95
Thank you so much Carlos for your quick reply :D I have implemented your changes and somehow, the error has changed to `{"status":401,"error":"Unauthorized","details":{"description":"Error validating ltik or IdToken","message":"AUTHCONFIG_NOT_FOUND"}}` I see that I specified authConfig field here:
![image](https://user-images.githubusercontent.com/46529559/114205536-db1e9480-9906-11eb-887d-bb34273

[2021-04-09 15:54] Cvmcosta commented on #95
That is weird, this error only happens when the `authConfig.method` is not set or set to an invalid method. Your registration seems correct. Although i noticed that you are receiving a launch request from `https//:localhost/moodle` but you registered `http//:localhost/moodle`, that might have something to do with it.

[2021-04-09 16:22] vandergav commented on #95
Alright, I have changed the setup function following your comments:
![image](https://user-images.githubusercontent.com/46529559/114208832-651c2c80-990a-11eb-941d-7551dcab870b.png)
Still got the same errors so I added the `platform.platformAuthConfig()` code and here are the console logs:
![image](https://user-images.githubusercontent.com/46529559/114209194-d4921c00-990a-11eb-9034-bb778d80a0b2.png)

[2021-04-09 16:57] Cvmcosta commented on #95
I am guessing something must have gone wrong during the registration, but calling registerPlatform again should have fixed any previous issues.

Please try adding the following code right after printing `authConfig`:

[code]

This is similar to what happens in the backend. You could also try deleting the platform with `platform.delete()` and then creating a new registration.

[2021-04-09 18:05] vandergav commented on #95
Okay, I have added the code you gave and also ran platform.delete() to reset everything. I did the following:

1. ran setup() with platform.delete()
2. ran setup() without platform.delete() and got the following
`{
  method: 'JWK_SET',
  key: 'https://localhost/moodle/mod/lti/certs.php'
}` <-- checked that this is of type Object using typeof authConfig
`JWK_SET`
3. Stopped the server and ran `npm

[2021-04-09 18:09] Cvmcosta commented on #95
So the `platformAuthConfig` is returning a String? is that it? What version of Ltijs are you using? And are you using any Database plugins?

[2021-04-09 18:20] vandergav commented on #95
Yes `platformAuthConfig` returned an object of type String. Yes I am using the ltijs-sequelize Database plugin. Here are the version numbers

`    "ltijs": "^5.6.5",
    "ltijs-sequelize": "^2.4.1"`

[2021-04-09 18:27] Cvmcosta commented on #95
Okay, thanks! I will look into it today. Never ran into this issue. I'll see if i can reproduce it and identify the cause.

[2021-04-09 18:40] vandergav commented on #95
Thank you so much for your help. Heres my code from index.js. Yes, will try out with the default mongoDB if time permits.
[code]

[2021-04-09 21:51] Cvmcosta commented on #95
Hello @vandergav ! I found the issue, apparently it is an issue with the `mysql` dialect of the sequelize library. Can you please look through [this thread](https://github.com/sequelize/sequelize/issues/10946) and tell me if your environment fits some of the descriptions provided? This seems to be a common issue with mysql sequelize.

[2021-04-10 01:38] vandergav commented on #95
Hi Carlos, thank you for pointing me to the sequelize library. I realised that I actually have a mariaDB database so changing  it to `dialect: 'mariadb'` solved the String issue. However now I am getting another error, `{"status":401,"error":"Unauthorized","details":{"description":"Error validating ltik or IdToken","message":"self signed certificate"}}`

[2021-04-10 02:31] Cvmcosta commented on #95
It might be. Since you are running thing locally you could try without https.

[2021-04-10 03:35] vandergav commented on #95
Thank you, as I have some difficulty doing that, I switched the authConfig to using RSA_KEY instead:
![image](https://user-images.githubusercontent.com/46529559/114257083-1943b300-99f0-11eb-91de-685c60f6e3c7.png)
and got these console logs:
![image](https://user-images.githubusercontent.com/46529559/114257003-873baa80-99ef-11eb-9186-04e748edd98a.png)
Strange how `console.log(authConfig)` and `cons

[2021-04-10 04:53] Cvmcosta commented on #95
Where did you get this RSA Key from? This key is supposed to be used by Moodle to validate your requests. The authConfig key has to be the Moodle URL you were using.

The key generated by `await platform.platformPublicKey()` is used by Moodle to validate your request. The key you get from `authConfig` is the URL or Key you can use to validate Moodle's requests.

I think your best chance is to use

[2021-04-10 15:38] vandergav commented on #95
I got the RSA Key from here: https://lti-ri.imsglobal.org/keygen/index
And thank you for your explanation on the different keys! Alright, I will try using the Platform and Tool without the https. Can I check if this means I change the external tool settings? Or the index.js file of the demo server? Or both? Sorry I'm really new to this.

[2021-04-10 16:17] Cvmcosta commented on #95
In the Moodle External tool registration form, change the `Public Key Type` field to `Keyset URL` and enter the following URL in the `Public Keyset` Field: `http://localhost:8001/keys`, this way you don't have to worry about the keys anymore, Ltijs will handle everything.

Sorry i hadn't noticed you had used moodle's own keyset endpoint in the `Public Keyset` field, that was probably what caused t

[2021-04-10 17:04] vandergav commented on #95
Thanks so much for the quick reply! I have made the changes to the `Public Keyset` field but still got the same error so I changed the Platform registration URLs to http too, here are the console logs from `console.log(await platform.platformJSON())`:
![image](https://user-images.githubusercontent.com/46529559/114278053-7ecf8800-9a60-11eb-994a-150617758e02.png)
However, I still got back the same e

[2021-04-10 17:25] Cvmcosta commented on #95
Can you show me both you current Platform and Tool registrations just so we can make sure everything is correct? But yes, it might be an issue with apache redirection.

[2021-04-10 17:41] vandergav commented on #95
Sure thank you so much for looking into this.
![image](https://user-images.githubusercontent.com/46529559/114279298-7417f180-9a66-11eb-8f38-ad21fcab107e.png)
![image](https://user-images.githubusercontent.com/46529559/114279387-002a1900-9a67-11eb-915b-3cf3310d0209.png)

[2021-04-10 17:49] Cvmcosta commented on #95
Okay, everything seems to be in place. I believe any issue now is probably being caused by Apache redirection and self signed ssl certificates

[2021-04-11 04:55] vandergav commented on #95
To update, I changed the config.php (in the root of Moodle's source code folder) from `$CFG->wwwroot   = 'https://localhost/moodle';` to `$CFG->wwwroot   = 'http://localhost/moodle';` and now the error I am getting back is `{"status":401,"error":"Unauthorized","details":{"description":"Error validating ltik or IdToken","message":"invalid algorithm"}}`

[2021-04-11 18:40] Cvmcosta commented on #95
Hello @vandergav. Can you show me logs up until this error? I want to pinpoint exactly where this error is being thrown.

[2021-04-12 03:09] vandergav commented on #95
Sure, using the index.js code above and adding `console.log(await platform.platformJSON())` and `switch (authConfig.method) { ...`, here are the logs (sorry for the spam):
![image](https://user-images.githubusercontent.com/46529559/114335048-6d7c9d80-9b7e-11eb-96e1-fa8e04cd693e.png)
![image](https://user-images.githubusercontent.com/46529559/114335085-8c7b2f80-9b7e-11eb-94c9-a6916427a187.png)
![im

[2021-04-12 17:51] Cvmcosta commented on #95
So no logs about the actual error show up? I need to know at what point of the flow the error happens. Is it during the Launch or after the Launch while validating the `ltik`?

[2021-04-12 17:57] Cvmcosta commented on #95
The first argument of the `lti.setup` method is the encryption key, did you use a Public Key as your encryption key? Only two places in the code could have thrown this issue. One of them would suggest an issue in your Moodle instance, the other one would suggest an issue with the encryption key.

[2021-04-13 03:14] vandergav commented on #95
Hi Carlos, thank you for pointing me to the `lti.setup` method, I believe the issue now is with the encryption key. Can I ask in what format I should pass the key? With this, I am getting the below error
![image](https://user-images.githubusercontent.com/46529559/114491522-5656b200-9c49-11eb-9dad-d7af83ce16c2.png)
`UnhandledPromiseRejectionWarning: Error: error:06065064:digital envelope routines:E

[2021-04-14 02:14] Cvmcosta commented on #95
Hello again, sorry for the late reply. The error you are seeing is caused by the change in the encryption key, since the key pairs generated for each Platform are encrypted before they are stored. You should revert to your old key, it doesn't have to be a RSA Key, i just wanted to know that so i could eliminate some possibilities.

Can you please revert back to the old key and show me the logs gen

[2021-04-14 02:35] vandergav commented on #95
Hi Carlos no it's okay thank you for helping! I lost the old key and by old key do you mean the public key you get from here: https://lti-ri.imsglobal.org/keygen/index?
I am specifying `Public keyset` in Moodle to be `http://localhost:8100/keys` and using `lti.setup(LTI_KEY, ...` where `LTI_KEY` is the public key I got from `https://lti-ri.imsglobal.org/keygen/index` for a specific tool.
I just cr

[2021-04-14 02:42] Cvmcosta commented on #95
No, the encryption key can be any string (usually a big string is better). Were you using an RSA Key as the encryption key (first parameter of lti.setup)? You don't need to get any key from https://lti-ri.imsglobal.org/keygen/index, these are only used for testing the tools provided by IMS.

You can try changing the LTI_KEY to any big  random string and them trying to register and use a new Platfo

[2021-04-14 02:53] vandergav commented on #95
Hi Carlos, I can't thank you enough. It's finally working after I created a new tool and used "LTI_KEY" for `lti.setup(LTI_KEY, ...`
<img width="799" alt="Untitled" src="https://user-images.githubusercontent.com/46529559/114647194-430e1a00-9d0f-11eb-8bd5-5f3e68b55d4a.png">
Yes, what you said about "using an RSA Key as the LTI_KEY causes the verification code to look for an algorithm that i am not

[2021-04-14 02:56] Cvmcosta commented on #95
Great! I am really happy it worked! I might add a note to the docs letting people know to use a big random string as the encryption key.

[2021-04-14 02:58] #95 closed

[2021-04-14 16:32] vandergav opened #96 "Cannot read property 'lineitem' of null error when using lti.Grade.getLineItems(idtoken, { resourceLinkId: true })"
Hi Carlos, sorry for bringing up another issue again so soon but I am having some difficulties with the "Grading route" (and also the "Names and Roles" route but that can be for another time) in `routes.js` of the ltijs-demo-server.

`routes.js`:
![image](https://user-images.githubusercontent.com/46529559/114744162-fadb1000-9d7f-11eb-8744-a55cc6d20d7e.png)
Here are the logs:
![image](https://user-

[2021-04-14 20:14] Cvmcosta commented on #96
Hello! This is a permissions issue. You need to enable the Grades and Names and Roles service when registering the Tool on Moodle. If you don't give the tool the correct access, the ID Token will not contain the endpoint field.

[2021-04-15 02:57] vandergav commented on #96
Thanks Carlos for the speedy reply! Following your instructions, I created a new tool and enabled the Grades and Names and Roles service on it and now the endpoint is showing and I am able to get the `lineItemId`, however there is still an issue with this line `const response = await lti.Grade.getLineItems(idtoken, { resourceLinkId: true })`, I am getting a `Error: error:06065064:digital envelope

[2021-04-15 03:26] Cvmcosta commented on #96
Ah, i know what this is. This issue is happening because you switched the LTI_KEY after registering Platforms. Basically the Platform is trying to get the Keyset (Collection of every Public Key for every Platform registered), and LTIJS is unable to decrypt some of them due to the LTI_KEY used to encrypt not being the same one being used to decrypt.

This is a hard to fix issue unless you know the

[2021-04-15 04:00] vandergav commented on #96
Thanks Carlos it works now! I did what you said about deleting the old data from the platforms, publickey and privatekey tables and it works now. Luckily for me, it was quite easy to identify the old data because the table headers were clear. Again, thank you loads for your very speedy assistance.

[2021-04-15 20:42] Cvmcosta commented on #96
Oh, great! Thanks for letting me know! I will update the documentation soon.

[2021-04-15 20:42] #96 closed

[2021-04-16 03:06] vandergav opened #97 "Using Socket.io with Ltijs"
As I am currently using Ltijs for an app that uses sockets, specifically Socket.io, I would need to access the `server` object. for example, `var server = app.listen(4000, ...`  so that I can create a socket, `var io = socketIO(server)`. I have looked at the source code for ltijs, and in the Server.js file, I see that for the `listen` function,
[code]
the `server` object is being assigned as a cla

[2021-04-16 03:23] Cvmcosta commented on #97
Hello @vandergav. I understand the issue, since i am working on a new version of Ltijs, i am trying not to do many hotfixes at the moment, so that the versions are not too different. What you can do as a workaround in the meantime is use the [Serverless mode of Ltijs](https://cvmcosta.me/ltijs/#/provider?id=deploying-ltijs-as-part-of-another-server) and deploy the Ltijs server as part of your sock

[2021-04-16 03:50] vandergav commented on #97
Hi Carlos, I understand and really appreciate your updates on this and showing me the workaround with Serverless mode. I am using the lti as middleware method with `app.use(lti.app)` and so far I am getting a `Error: cookieParser("secret") required for signed cookies`. Not sure if I have to recreate a new tool to test. Thanks!

[2021-04-16 04:15] Cvmcosta commented on #97
Are you using signed cookies in your application (outside of Ltijs)? This issue happens when you are using signed cookies but no secret is passed to cookiParser. This would be difficult to happen in Ltijs since the LTI_KEY used in the setup is used as the cookieParser key. Please let me know if you are using signed cookies somewhere else. If not, i can try to look into this issue tomorrow.

[2021-04-16 04:18] vandergav commented on #97
Hi yes, I am using signed cookies in my application. Is this an issue with my application? Thanks for the help.

[2021-04-16 04:23] Cvmcosta commented on #97
Probably, are you passing a secret to cookieParser?

[2021-04-16 04:27] vandergav commented on #97
Ok thanks for the tip. I'll probably need to look into this more. I'll update again when things become clearer thanks again.

[2021-04-16 19:51] ssciolla commented on #93
Sorry for the delay getting back to you, @Cvmcosta. Our team is new to Express, so we're still trying to wrap our heads around how various kinds of middleware and custom interact with the `ltijs` setup. We decided to move away from `webpack-dev-middleware` for our project, since we had more predictable results with other `webpack` approaches. It's probably fine to close this issue for now.

[2021-04-16 23:44] Cvmcosta commented on #97
No problem! Thanks for letting me know.

[2021-04-16 23:44] #97 closed

[2021-04-18 01:35] Cvmcosta commented on #93
Thanks a lot for letting me know!

[2021-04-18 01:35] #93 closed

[2021-04-24 00:39] zoranpopovic commented on #74
@NashIlli did you ever manage to get the firestore db plugin to work?

[2021-04-28 18:25] PanopticaRising commented on #66
For anyone else who stumbles on this, I'm running a `Windows -> Ubuntu -> Docker` setup, and my issue was that initializing the tool connection happened on the Moodle website, but the later calls happened on the server, so an IP address didn't work for me (because the Docker container and my Windows machine are on different subnets). I was able to add a hostname to both to point to the respective

[2021-04-30 06:30] joanna-liana opened #98 "Brightspace registration - Keyset URL cannot be reached"
Hi there. First of all, thanks for this amazing library, it makes the LTI integration work so much easier. We've already managed to integrate with Canvas but have an issue with registering our Tool in Brightspace. For some reason, upon registration Brightspace is trying to hit the `/keys` route directly, which results in this error:
[code]

This is the same error I get when trying to use the route

[2021-04-30 06:56] vandergav opened #99 "Login request gets stuck at "Retrieving key from jwt_set""
Hi Carlos,

Could you help me with setting up ltijs for production?

I have an external tool web app with these ltijs configurations:
![image](https://user-images.githubusercontent.com/46529559/116658320-3f4bdb80-a93c-11eb-93b9-2423edb2ea4c.png)
![image](https://user-images.githubusercontent.com/46529559/116658371-51c61500-a93c-11eb-94cf-53a87e7199aa.png)

And in Moodle:
![image](https://user-imag

[2021-04-30 11:13] Cvmcosta commented on #98
Hello! Did you change your LTI_KEY variable at some point? The keys are stored in the database encrypted using the LTI_KEY, if it changes, Ltijs can't decrypt old keys. You should either revert to an old LTI_KEY or delete and re-register every platform.

[2021-05-02 19:44] Cvmcosta commented on #99
Hello! May i ask how you are deploying these servers? The request for keysets is a simple HTTP GET, are you sure the Moodle instance is accessible from within the LTI server?

[2021-05-03 05:48] vandergav commented on #99
Hi Carlos, thank you for your reply. There is a proxy in front of my server so I'm not sure if that affects getting the JWT keyset from within the LTI server. Here's my Nginx configuration for reference.
[code]
If all else fails, I will try the other methods for `authConfig`:
![image](https://user-images.githubusercontent.com/46529559/116844390-7534ce00-ab8f-11eb-8e36-601506bea563.png)
May I check

[2021-05-04 01:45] Cvmcosta commented on #99
The /keys endpoint on your LTI server contains the public keys used by the Platforms to validate messages signed by your Tool. the /certs.php endpoint on moodle contains the public keys used by your Tool to validate messages signed by Moodle.

You can try using JWK_KEY with a key from Moodle's certs.php endpoint if you know the kid of the key used to sign messages to your tool.

As a test you can

[2021-05-04 05:57] joanna-liana commented on #98
That must've been it. Thank you so much!

[2021-05-04 05:57] #98 closed

[2021-05-04 14:37] vandergav commented on #99
Hi Carlos, thank you for your reply and suggestions. I have tried making a http request, with `https.get(...`, after the setup but seems like the /certs.php endpoint can't be hit for some reason.

I then tried the RSA_KEY method and it worked so I'll take this as a (temporary) workaround for the "Retrieving key from jwt_set" issue for now.

However, I am now facing an issue when using the `lti.Nam

[2021-05-04 14:46] Cvmcosta commented on #99
Yes, this seems to be the same issue. Moodl's endpoints not being accessible from within your Tool

[2021-05-04 18:41] davinder-ficode opened #100 "How to add multiple External Tool To single server of ltijs?"
**Describe the bug**
How to add multiple Tools/Activities so that whenever on Moodle "Add LTI Advantage" button pressed all tools can be register once with single url of tool provider?

**Ltijs version**
 - Version [e.g. 5.0]

**NodeJS version**
 - 12

**Platform used**
 - Moodle

[2021-05-04 18:52] Cvmcosta commented on #100
Hello! I don't know if i understood your question. Do you wanna know how to server multiple tools/resources using only one LTI provider (one registration on moodle)? If so, you can simply treat your LTI server as a gateway, and then you receive launches with an identifier and redirect the user to the specified resource.

Eg: You can receive launches at `https://your.lti.server.com?resource=123` an

[2021-05-04 22:13] Cvmcosta commented on #100
Sure, as i mentioned you can control access with the `onConnect` method using query parameters.

[code]
Launches would be made to your LTI tool like so: `https://your.tool.com?resource=123`

[2021-05-05 05:19] davinder-ficode commented on #100
@Cvmcosta thanks mate..i'll test this..really appreciate  your help.

[2021-05-05 08:41] Niible opened #101 "bad decrypt or error 404 on getting members"
**Describe the bug**
I'm using the demo server, when I'm on the page /namesandroles, I'm getting an Error 500 with a server log :
**error:06065064:digital envelope routines:EVP_DecryptFinal_ex:bad decrypt**

[code]

If I change the key LTI_KEY in my .env I get a Error 404

[code]

**Ltijs version**
 - Version 5.6.7

**NodeJS version**
 - Version v14.8.0

**Platform used**
 - Moodle 3.9.2